In [230]:
import pandas as pd
import numpy as np
import re

In [231]:
%pwd

'C:\\Users\\baudant\\OneDrive - BEFIVE\\italians_do_it_better\\M_MERGE'

In [232]:
#################################################
# 0) FUNCTIONS                                  #
#################################################

In [233]:
import sys
sys.path.append('../')
from func import *

#DEFINED FUNCTIONS :
    
#unique_clean(data,col,pr=0)

#df_with_text(data,col,text)
#text_in_df(data,col,text)
#two_text_in_df(data,col,text1,text2)
#two_text_in_df(data,col,text1,text2='')

#values_U_not_nan(data,col_name)
#not_nan_get_values(data,col_name,pr=0)
#not_nan_get_index(data, col_name, pr=0)
#nan_get_index(data, col_name, pr=0)

#is_not_decimal(a)
#is_not_13(a)
#split_text_left(text_to_split,text)
#split_item_left(st)
#split_item_right(st)

#find_weight(text):     #s = re.compile('\d+G') extracts '210G'

In [234]:
#################################################
#   1) O_PROD_KW from Open food Facts           #
#  (keywords + categroy + Nielsen EAN13)        #
#################################################

In [235]:
#Import from openFF
df_O_PROD = pd.read_csv('../O_OPENFF/output_data/O_products_KW.csv', index_col=0)

df_O_PROD['EAN13'] = df_O_PROD['EAN13'].astype(str)

#Creation of a column with ones to count product matches with groupby method
df_O_PROD['COUNT'] = 1
df_O_PROD['date_modified'] = df_O_PROD['interface_version_modified'].apply(lambda row : split_text_left(row, '.'))

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [236]:
df_O_PROD.shape

(18022, 45)

In [237]:
#Adding O_ in front of each column name of df_O_PROD
if not df_O_PROD.columns[0][0:2] == 'O_' :
    for c in df_O_PROD.columns :
        df_O_PROD.rename(columns={c : 'O_' + c}, inplace=True)

In [238]:
df_O_PROD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18022 entries, 0 to 18021
Data columns (total 45 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   O_EAN13                                                  18022 non-null  object
 1   O_product_name_fr                                        17003 non-null  object
 2   O_product_name                                           17945 non-null  object
 3   O_brands                                                 14155 non-null  object
 4   O_brands_tags_str                                        14899 non-null  object
 5   O_brands_tags                                            14899 non-null  object
 6   O_serving_size                                           2474 non-null   object
 7   O_serving_quantity                                       2474 non-null   float64
 8   O_countries_hierarchy                                    18022 non-null  object
 9   O_cities_tags                                            11603 non-null  object
 10  O_manufacturing_places                                   3404 non-null   object
 11  O_purchase_places                                        4661 non-null   object
 12  O_countries_tags                                         18022 non-null  object
 13  O_categories                                             16584 non-null  object
 14  O_category_properties                                    17982 non-null  object
 15  O_pnns_groups_1                                          18017 non-null  object
 16  O_pnns_groups_2                                          18022 non-null  object
 17  O_compared_to_category                                   16548 non-null  object
 18  O_interface_version_modified                             17998 non-null  object
 19  O_ingredients_n                                          10596 non-null  float64
 20  O_ingredients_text                                       10596 non-null  object
 21  O_ingredients                                            16120 non-null  object
 22  O_salt_content                                           16120 non-null  object
 23  O_max_salt_content                                       18022 non-null  float64
 24  O_min_salt_content                                       18022 non-null  float64
 25  O_oil_content                                            16120 non-null  object
 26  O_max_oil_content                                        18022 non-null  float64
 27  O_min_oil_content                                        18022 non-null  float64
 28  O_oil_type                                               2978 non-null   object
 29  O_nutriments                                             18022 non-null  object
 30  O_energy_100g                                            16594 non-null  float64
 31  O_energy_kcal_100g                                       14302 non-null  float64
 32  O_saturated_fat_100g                                     16468 non-null  float64
 33  O_fat_100g                                               16529 non-null  float64
 34  O_carbohydrates_100g                                     16509 non-null  float64
 35  O_sugars_100g                                            16467 non-null  float64
 36  O_fruits_vegetables_nuts_estimate_from_ingredients_100g  10594 non-null  float64
 37  O_proteins_100g                                          16562 non-null  float64
 38  O_sodium_100g                                            16486 non-null  float64
 39  O_salt_100g                                              16487 non-null  float64
 40  O_nutrition_score_fr_100g                                14884 non-null  float64
 41  O_fiber_100g                                             4977 non-null   float64
 42  O_nova_group_100g                                        9822 non-null   float64
 43  O_COUNT                                                  18022 non-null  int64
 44  O_date_modified                                          18022 non-null  object
dtypes: float64(19), int64(1), object(25)
memory usage: 6.3+ MB

In [239]:
df_O_PROD.head()

,O_EAN13,O_product_name_fr,O_product_name,O_brands,O_brands_tags_str,O_brands_tags,O_serving_size,O_serving_quantity,O_countries_hierarchy,O_cities_tags,...,O_sugars_100g,O_fruits_vegetables_nuts_estimate_from_ingredients_100g,O_proteins_100g,O_sodium_100g,O_salt_100g,O_nutrition_score_fr_100g,O_fiber_100g,O_nova_group_100g,O_COUNT,O_date_modified
0,000000001231,Rillettes de sanglier au Chouchen,Rillettes de sanglier au Chouchen,Le Bois Jumel,['le-bois-jumel'],['le-bois-jumel'],NaN,NaN,['en:france'],NaN,...,0.0,NaN,16.0,0.64,1.6,21.0,NaN,NaN,1,20150316
1,0000000012256,Salade penne pesto,Salade penne pesto,NaN,NaN,NaN,NaN,NaN,['en:france'],NaN,...,0.9,NaN,3.2,0.08,0.2,NaN,NaN,NaN,1,20150316
2,0000069162176,Quenelles de brochet sauce Nantua,Quenelles de brochet sauce Nantua,Bofrost,['bofrost'],['bofrost'],NaN,NaN,['en:france'],NaN,...,0.6,0.0,4.6,1.96,4.9,16.0,0.5,4.0,1,20150316
3,0000087157215,Tomato Ketchup Heinz Ouverture En Bas,Tomato Ketchup Heinz Ouverture En Bas,Heinz,['heinz'],['heinz'],NaN,NaN,['en:france'],NaN,...,22.8,0.0,1.2,0.72,1.8,13.0,NaN,3.0,1,20150316
4,00001801051082969226,Ketchup Amora,Ketchup Amora,Amora,['amora'],['amora'],NaN,NaN,['en:france'],NaN,...,21.0,NaN,11.0,0.72,1.8,12.0,NaN,NaN,1,20150316

In [240]:
df_O_PROD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18022 entries, 0 to 18021
Data columns (total 45 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   O_EAN13                                                  18022 non-null  object
 1   O_product_name_fr                                        17003 non-null  object
 2   O_product_name                                           17945 non-null  object
 3   O_brands                                                 14155 non-null  object
 4   O_brands_tags_str                                        14899 non-null  object
 5   O_brands_tags                                            14899 non-null  object
 6   O_serving_size                                           2474 non-null   object
 7   O_serving_quantity                                       2474 non-null   float64
 8   O_countries_hierarchy                                    18022 non-null  object
 9   O_cities_tags                                            11603 non-null  object
 10  O_manufacturing_places                                   3404 non-null   object
 11  O_purchase_places                                        4661 non-null   object
 12  O_countries_tags                                         18022 non-null  object
 13  O_categories                                             16584 non-null  object
 14  O_category_properties                                    17982 non-null  object
 15  O_pnns_groups_1                                          18017 non-null  object
 16  O_pnns_groups_2                                          18022 non-null  object
 17  O_compared_to_category                                   16548 non-null  object
 18  O_interface_version_modified                             17998 non-null  object
 19  O_ingredients_n                                          10596 non-null  float64
 20  O_ingredients_text                                       10596 non-null  object
 21  O_ingredients                                            16120 non-null  object
 22  O_salt_content                                           16120 non-null  object
 23  O_max_salt_content                                       18022 non-null  float64
 24  O_min_salt_content                                       18022 non-null  float64
 25  O_oil_content                                            16120 non-null  object
 26  O_max_oil_content                                        18022 non-null  float64
 27  O_min_oil_content                                        18022 non-null  float64
 28  O_oil_type                                               2978 non-null   object
 29  O_nutriments                                             18022 non-null  object
 30  O_energy_100g                                            16594 non-null  float64
 31  O_energy_kcal_100g                                       14302 non-null  float64
 32  O_saturated_fat_100g                                     16468 non-null  float64
 33  O_fat_100g                                               16529 non-null  float64
 34  O_carbohydrates_100g                                     16509 non-null  float64
 35  O_sugars_100g                                            16467 non-null  float64
 36  O_fruits_vegetables_nuts_estimate_from_ingredients_100g  10594 non-null  float64
 37  O_proteins_100g                                          16562 non-null  float64
 38  O_sodium_100g                                            16486 non-null  float64
 39  O_salt_100g                                              16487 non-null  float64
 40  O_nutrition_score_fr_100g                                14884 non-null  float64
 41  O_fiber_100g                                             4977 non-null   float64
 42  O_nova_group_100g                                        9822 non-null   float64
 43  O_COUNT                                                  18022 non-null  int64
 44  O_date_modified                                          18022 non-null  object
dtypes: float64(19), int64(1), object(25)
memory usage: 6.3+ MB

In [241]:
O_EAN13_by_brands=df_O_PROD[['O_brands','O_EAN13']].groupby(by='O_brands').count().sort_values(by='O_EAN13',ascending=False)
O_EAN13_by_brands

                            O_EAN13
O_brands
Auchan                          289
Carrefour                       273
U                               273
Heinz                           256
Larnaudie                       189
...                             ...
L oulibo                          1
L Île Bleue                       1
L' Atelier De Chateaubourg        1
L' épicerie Provençale            1
€CO                               1

[4348 rows x 1 columns]

In [242]:
%pwd

'C:\\Users\\baudant\\OneDrive - BEFIVE\\italians_do_it_better\\M_MERGE'

In [243]:
O_EAN13_by_brands.to_excel('../O_OPENFF/output_data/O_EAN13_KW_by_brands.xlsx')

In [244]:
###############################################################
# 2) Merge with N_PROD from Nielsen                           #
#    and I_category_list with Italians labelling              #
###############################################################

In [245]:
###################################################
# 2.1) load N_PROD from Nielsen (select MARKET and KPI)

In [359]:
df_N_PROD=pd.read_csv('../N_NIELSEN/output_data/N_PROD_FR_Ventes_Valeur.csv')#,index_col=0)
#df_N_PROD['N_EAN13'] = df_N_PROD['N_EAN13'].astype(str)
df_N_PROD.sort_values(by='N_EAN13',inplace=True)
df_N_PROD.head(20)

,index,N_EAN13,N_MARQUE,N_SAME_PRODUCT,N_GAMME,N_RECETTES,N_ORGANIC,N_FORMAT,N_WEIGHT_num,N_EMBALLAGE,N_COMPTE,N_STD/PROMO,N_Ventes_Valeur_2019,N_Ventes_Valeur_2018,N_ITEM,N_NIELSEN_DESCRIPTION,N_INITIAL_INDEX,N_CATEGORY,N_COUNT
256,1851,0,MDD,MDD | SAUCES_POUR_FECULENTS | | FLA_PLAS |,NaN,NaN,separator,NaN,0,FLA_PLAS,NaN,NaN,286847.6,116514.8,NaN,SAUCES_POUR_FECULENTS_FLA_PLAS_MDD,1851,SAUCES_POUR_FECULENTS,1
192,1768,0,MDD,MDD | SAUCES_POUR_FECULENTS | | BTE_FER |,NaN,NaN,separator,NaN,0,BTE_FER,NaN,NaN,4286886.3,4358804.4,NaN,SAUCES_POUR_FECULENTS_BTE_FER_MDD,1768,SAUCES_POUR_FECULENTS,1
164,1731,0,MDD,MDD | SAUCES_POUR_FECULENTS | | BRIC |,NaN,NaN,separator,NaN,0,BRIC,NaN,NaN,424991.0,320040.0,NaN,SAUCES_POUR_FECULENTS_BRIC_MDD,1731,SAUCES_POUR_FECULENTS,1
1426,3053,0,MDD,MDD | SAUCES_POUR_FECULENTS | | TUB |,NaN,NaN,separator,NaN,0,TUB,NaN,NaN,2102213.2,2184243.2,NaN,SAUCES_POUR_FECULENTS_TUB_MDD,3053,SAUCES_POUR_FECULENTS,1
140,1697,0,MDD,MDD | AUT_SCE | | POT |,NaN,NaN,separator,NaN,0,POT,NaN,NaN,1408037.2,1310021.9,NaN,AUT_SCE_POT_MDD,1697,AUT_SCE,1
28,1577,0,MDD,MDD | AUT_SCE | | DOY_PAC |,NaN,NaN,separator,NaN,0,DOY_PAC,NaN,NaN,68839.2,150078.2,NaN,AUT_SCE_DOY_PAC_MDD,1577,AUT_SCE,1
246,1835,0,MDD,MDD | SAUCES_POUR_FECULENTS | | DOY_PAC |,NaN,NaN,separator,NaN,0,DOY_PAC,NaN,NaN,241084.2,333957.1,NaN,SAUCES_POUR_FECULENTS_DOY_PAC_MDD,1835,SAUCES_POUR_FECULENTS,1
1067,2679,0,MDD,MDD | SAUCES_POUR_FECULENTS | | POT |,NaN,NaN,separator,NaN,0,POT,NaN,NaN,94370200.5,88010805.0,NaN,SAUCES_POUR_FECULENTS_POT_MDD,2679,SAUCES_POUR_FECULENTS,1
193,1769,0,MDD_1_PRX,MDD_1_PRX | SAUCES_POUR_FECULENTS | | BTE_FER |,NaN,NaN,separator,NaN,0,BTE_FER,NaN,NaN,126811.0,141644.7,NaN,SAUCES_POUR_FECULENTS_BTE_FER_MDD_1_PRX,1769,SAUCES_POUR_FECULENTS,1
4,1547,0,MDD,MDD | AUT_SCE | | BRIC |,NaN,NaN,separator,NaN,0,BRIC,NaN,NaN,139057.0,0.0,NaN,AUT_SCE_BRIC_MDD,1547,AUT_SCE,1
1068,2680,0,MDD_1_PRX,MDD_1_PRX | SAUCES_POUR_FECULENTS | | POT |,NaN,NaN,separator,NaN,0,POT,NaN,NaN,1688258.1,1750841.1,NaN,SAUCES_POUR_FECULENTS_POT_MDD_1_PRX,2680,SAUCES_POUR_FECULENTS,1
61,1614,40198798,AUT_MQ,AUT_MQ | SCE_CLAS | AJI_PANCA_CHILI | POT | NO...,SCE_CLAS,AJI_PANCA_CHILI,NON_BIO,PF,235,POT,1CT,STD,49163.7,0.0,0000040198798,AUT_SCE_POT_AUT_FAB_AUT_MQ_SCE_CLAS_PF_AJI_PAN...,1614,AUT_SCE,1
35,1588,40788975,AUT_MQ,AUT_MQ | SCE_CLAS | AJI_PANCA_CHILI | POT | NO...,SCE_CLAS,AJI_PANCA_CHILI,NON_BIO,MF,375,POT,1CT,STD,136876.6,383806.5,0000040788975,AUT_SCE_POT_AUT_FAB_AUT_MQ_SCE_CLAS_MF_AJI_PAN...,1588,AUT_SCE,1
38,1591,40788982,AUT_MQ,AUT_MQ | SCE_CLAS | CRANBERRY_BBQ | POT | NON_BIO,SCE_CLAS,CRANBERRY_BBQ,NON_BIO,MF,375,POT,1CT,STD,132893.4,342920.2,0000040788982,AUT_SCE_POT_AUT_FAB_AUT_MQ_SCE_CLAS_MF_CRANBER...,1591,AUT_SCE,1
764,2362,80024347,AUT_MQ,AUT_MQ | PESTO | PESTO_VERD | POT | NON_BIO,PESTO,PESTO_VERD,NON_BIO,PF,190,POT,1CT,STD,1493.9,2312.5,0000080024347,SAUCES_POUR_FECULENTS_POT_AUT_FAB_AUT_MQ_PESTO...,2362,SAUCES_POUR_FECULENTS,1
1428,3057,80042549,MUTTI,MUTTI | LEGUMES | LEGUME | TUB | NON_BIO,LEGUMES,LEGUME,NON_BIO,PF,130,TUB,1CT,STD,147.6,225.7,0000080042549,SAUCES_POUR_FECULENTS_TUB_MUTTI_LEGUMES_PF_LEG...,3057,SAUCES_POUR_FECULENTS,1
716,2314,80280651,AUT_MQ,AUT_MQ | PESTO | PESTO_RGE | POT | NON_BIO,PESTO,PESTO_RGE,NON_BIO,PF,170,POT,1CT,STD,0.0,0.0,0000080280651,SAUCES_POUR_FECULENTS_POT_AUT_FAB_AUT_MQ_PESTO...,2314,SAUCES_POUR_FECULENTS,1
410,2008,80280828,AUT_MQ,AUT_MQ | CREME | CREMOLIVA | POT | NON_BIO,CREME,CREMOLIVA,NON_BIO,PF,190,POT,1CT,STD,2281.6,10767.2,0000080280828,SAUCES_POUR_FECULENTS_POT_AUT_FAB_AUT_MQ_CREME...,2008,SAUCES_POUR_FECULENTS,1
767,2365,80280835,AUT_MQ,AUT_MQ | PESTO | PESTO_VERD | POT | NON_BIO,PESTO,PESTO_VERD,NON_BIO,PF,190,POT,1CT,STD,4751.2,74559.3,0000080280835,SAUCES_POUR_FECULENTS_POT_AUT_FAB_AUT_MQ_PESTO...,2365,SAUCES_POUR_FECULENTS,1
730,2328,80280842,AUT_MQ,AUT_MQ | PESTO | PESTO_RGE | POT | NON_BIO,PESTO,PESTO_RGE,NON_BIO,PF,190,POT,1CT,STD,8125.5,37137.4,0000080280842,SAUCES_POUR_FECULENTS_POT_AUT_FAB_AUT_MQ_PESTO...,2328,SAUCES_POUR_FECULENTS,1

In [247]:
df_N_PROD=pd.read_csv('../N_NIELSEN/output_data/N_PROD_FR_Ventes_Valeur.csv')
df_N_PROD['N_EAN13'] = df_N_PROD['N_EAN13'].astype(str)
df_N_PROD['N_MARQUE'] = df_N_PROD['N_MARQUE'].str.strip()
print('shape :',df_N_PROD.shape)
df_N_PROD.columns

shape : (1443, 20)

Index(['Unnamed: 0', 'index', 'N_EAN13', 'N_MARQUE', 'N_SAME_PRODUCT',
       'N_GAMME', 'N_RECETTES', 'N_ORGANIC', 'N_FORMAT', 'N_WEIGHT_num',
       'N_EMBALLAGE', 'N_COMPTE', 'N_STD/PROMO', 'N_Ventes_Valeur_2019',
       'N_Ventes_Valeur_2018', 'N_ITEM', 'N_NIELSEN_DESCRIPTION',
       'N_INITIAL_INDEX', 'N_CATEGORY', 'N_COUNT'],
      dtype='object')

In [248]:
print('number of unique ITEMs:',len(set(df_N_PROD['N_ITEM'].unique())))
print('number of unique EAN13s:',len(set(df_N_PROD['N_EAN13'].unique())))

number of unique ITEMs: 1433
number of unique EAN13s: 1426

In [252]:
#check ventes valeurs 2019 = 343 809 410,40 €
print('ventes valeurs 2019:',df_N_PROD['N_Ventes_Valeur_2019'].sum())
print('contrôle:',343809410.40 - round(df_N_PROD['N_Ventes_Valeur_2019'].sum(),2))

ventes valeurs 2019: 343809410.40000004
contrôle: 0.0

In [253]:
df_N_PROD.head()

,Unnamed: 0,index,N_EAN13,N_MARQUE,N_SAME_PRODUCT,N_GAMME,N_RECETTES,N_ORGANIC,N_FORMAT,N_WEIGHT_num,N_EMBALLAGE,N_COMPTE,N_STD/PROMO,N_Ventes_Valeur_2019,N_Ventes_Valeur_2018,N_ITEM,N_NIELSEN_DESCRIPTION,N_INITIAL_INDEX,N_CATEGORY,N_COUNT
0,0,1542,3760052155536,AUT_MQ,AUT_MQ | SCE_CLAS | CITRON_VERT_PIMENT_DOUX | ...,SCE_CLAS,CITRON_VERT_PIMENT_DOUX,NON_BIO,PF,100,AUT_EMB,1CT,STD,35.1,1563.3,3760052155536,AUT_EMB_AUT_FAB_AUT_MQ_SCE_CLAS_PF_CITRON_VERT...,1542,AUT_SCE,1
1,1,1543,8854404005213,AUT_MQ,AUT_MQ | SCE_CLAS | CURRY_JAUNE_THAI | AUT_EMB...,SCE_CLAS,CURRY_JAUNE_THAI,NON_BIO,PF,300,AUT_EMB,1CT,STD,14902.2,11908.0,8854404005213,AUT_SCE_AUT_EMB_AUT_FAB_AUT_MQ_SCE_CLAS_PF_CUR...,1543,AUT_SCE,1
2,2,1544,8858135071028,AUT_MQ,AUT_MQ | SCE_CLAS | CURRY_VERT_&_LEGUMES | AUT...,SCE_CLAS,CURRY_VERT_&_LEGUMES,NON_BIO,PF,300,AUT_EMB,1CT,STD,7141.3,0.0,8858135071028,SCE_AUT_EMB_AUT_FAB_AUT_MQ_SCE_CLAS_PF_CURRY_V...,1544,AUT_SCE,1
3,3,1545,3760052155512,AUT_MQ,AUT_MQ | SCE_CLAS | YUZU | AUT_EMB | NON_BIO,SCE_CLAS,YUZU,NON_BIO,PF,100,AUT_EMB,1CT,STD,0.0,1010.2,3760052155512,AUT_SCE_AUT_EMB_AUT_FAB_AUT_MQ_SCE_CLAS_PF_YUZ...,1545,AUT_SCE,1
4,4,1547,0,MDD,MDD | AUT_SCE | | BRIC |,NaN,NaN,separator,NaN,0,BRIC,NaN,NaN,139057.0,0.0,NaN,AUT_SCE_BRIC_MDD,1547,AUT_SCE,1

In [254]:
type(df_N_PROD['N_EAN13'][256])

str

In [255]:
###################################################
# 2.2) load labelled data from Italians do it better (fichier Marine)

df_I_PROD=pd.read_excel('../I_ITALIANS/Categories_produits_italians_OPTIMISEES.xlsx',header=4)
df_I_PROD.rename(columns={'CODE EAN ' : 'ITEM'}, inplace=True)
df_I_PROD['MARQUE'] = df_I_PROD['MARQUE'].str.strip()
df_I_PROD['COUNT'] = 1
print('shape :',df_I_PROD.shape)
#df_I_PROD.tail()

shape : (1272, 14)

In [256]:
df_I_PROD.columns

Index(['LIBELLE PRODUIT NIELSEN',
       'LIBELLE PRODUIT OPTIMISE (MARQUE - VARIETE - POIDS)', 'MARQUE',
       'INGREDIENTS PRINCIPAUX ', 'CATEGORIE PRODUIT', 'CATEGORIE OPTIMISEE',
       'GRAMMAGE', 'BIO / NON BIO ', 'ITEM', 'VOL CAM AN-1', 'VOL DERNIER CAM',
       'EVOL ', 'EVOL % ', 'COUNT'],
      dtype='object')

In [257]:
print('number of unique ITEMs:',len(set(df_I_PROD['ITEM'].unique())))
print('number of ITEMs missing in Marine file:',len(set(df_N_PROD['N_ITEM'].unique()))-len(set(df_I_PROD['ITEM'].unique())))

number of unique ITEMs: 1272
number of ITEMs missing in Marine file: 161

In [258]:
#Adding I_ in front of each column name 
if not df_I_PROD.columns[0][0:2] == 'I_' :
    for c in df_I_PROD.columns :
        temp_col=c.strip().replace(' ', '_')
        df_I_PROD.rename(columns={c : 'I_' + temp_col}, inplace=True)
df_I_PROD.columns

Index(['I_LIBELLE_PRODUIT_NIELSEN',
       'I_LIBELLE_PRODUIT_OPTIMISE_(MARQUE_-_VARIETE_-_POIDS)', 'I_MARQUE',
       'I_INGREDIENTS_PRINCIPAUX', 'I_CATEGORIE_PRODUIT',
       'I_CATEGORIE_OPTIMISEE', 'I_GRAMMAGE', 'I_BIO_/_NON_BIO', 'I_ITEM',
       'I_VOL_CAM_AN-1', 'I_VOL_DERNIER_CAM', 'I_EVOL', 'I_EVOL_%', 'I_COUNT'],
      dtype='object')

In [259]:
df_I_PROD['I_CATEGORIE_OPTIMISEE'] = df_I_PROD['I_CATEGORIE_OPTIMISEE'].str.strip()
df_I_PROD['I_CATEGORIE_OPTIMISEE'] = df_I_PROD['I_CATEGORIE_OPTIMISEE'].str.replace('\s', '_', regex=True)
#df_I_PROD[col] = df_I_PROD[col].str.replace('_+', '_', regex=True)
df_I_PROD['I_CATEGORIE_OPTIMISEE'].unique()

array(['PROVENCALE', 'BOLOGNAISE', 'BASILIC', 'PESTO_VERT', 'PESTO_ROUGE',
       'ARRABBIATA', 'FROMAGE', 'OLIVES', 'CHAMPIGNONS', 'LEGUMES',
       'POMODORO', 'AUBERGINES', 'AUTRE', 'POIVRON', 'PESTO_AUTRE',
       'produit_non_connu'], dtype=object)

In [260]:
# VOLUME BY PRODUCT CATEGORY
#check volume 2019 = 28 751 478,70
print('ventes volumes 2019:',df_I_PROD['I_VOL_DERNIER_CAM'].sum())
df_I_PROD[['I_CATEGORIE_OPTIMISEE','I_VOL_DERNIER_CAM','I_COUNT']].groupby(by=['I_CATEGORIE_OPTIMISEE']).sum().sort_values(by='I_VOL_DERNIER_CAM',ascending=False)

ventes volumes 2019: 28751478.700000003

                       I_VOL_DERNIER_CAM  I_COUNT
I_CATEGORIE_OPTIMISEE
BOLOGNAISE                     9051500.6      208
PROVENCALE                     8119206.1       37
BASILIC                        2758564.7      102
PESTO_VERT                     2012112.6      114
OLIVES                         1103506.5       59
ARRABBIATA                     1101549.0       69
PESTO_ROUGE                    1075399.2       65
FROMAGE                        1056925.8       66
LEGUMES                        1013724.4      132
CHAMPIGNONS                     596995.6       46
POMODORO                        433032.1       82
POIVRON                         123568.5       32
AUTRE                           118534.5       68
AUBERGINES                      111405.9       20
PESTO_AUTRE                      47111.8       12
produit_non_connu                28341.4      160

In [261]:
# CATEGORY OPTIMISATION BASED ON ITALIANS INDICATED CATEGORIES
# products labelled in Marine file = 1.273
print('number of products categorised',df_I_PROD['I_ITEM'].count())
df_I_PROD[['I_CATEGORIE_OPTIMISEE','I_CATEGORIE_PRODUIT','I_ITEM']].groupby(by=['I_CATEGORIE_OPTIMISEE','I_CATEGORIE_PRODUIT']).count()

number of products categorised 1272

                                           I_ITEM
I_CATEGORIE_OPTIMISEE I_CATEGORIE_PRODUIT
ARRABBIATA            ARRABBIATA               69
AUBERGINES            NORMA                    20
AUTRE                 AUTRE                    43
                      CURRY                    25
BASILIC               POMODORO                102
BOLOGNAISE            AMATRICIANA               9
                      BOLOGNESE               168
                      CHORIZO                   4
                      POISSON                  23
                      POULET                    4
CHAMPIGNONS           FUNGHI                   46
FROMAGE               CARBONARA                13
                      FROMAGE                  53
LEGUMES               ARTICHAUT                 7
                      BOLOGNESE VEGAN           1
                      MIX DE LEGUMES          124
OLIVES                PUTTANESCA               59
PESTO_AUTRE           PESTO CALABRESE           7
                      PESTO LEGUMES             5
PESTO_ROUGE           PESTO ROSSO              65
PESTO_VERT            PESTO AL LIMONE           1
                      PESTO GENOVESE          113
POIVRON               POIVRON                  32
POMODORO              POMODORO                 82
PROVENCALE            PROVENCALE               37
produit_non_connu     produit non connu       160

In [262]:
I_BRANDS_U= sorted(set(unique_clean(df_I_PROD,'I_MARQUE')))
print('number of brands found in OPPEN FOOD FACTS:',len(I_BRANDS_U))
I_BRANDS_U

number of  I_MARQUE  unique (non null) values:  217
<class 'list'>

number of brands found in OPPEN FOOD FACTS: 217

['A LA TABLE DE MATHILDE',
 'A PAESANA',
 'A SANREMO',
 'AGROMONTE',
 'AJVAR',
 'AL DENTE LA SALSA',
 'ALBERT MENES',
 'ALELOR',
 'ALNATURA',
 'ALTESSE',
 'ANNE ROZES',
 'ANTICO CASAL0',
 'ANTICO CASALO',
 'ARTISAN DE LA TRUFFE PARIS',
 'AU BEC FIN',
 'AUT MQ',
 'AYAM',
 'BAIONADE',
 'BARILLA',
 'BARRAL',
 'BATON ROUGE',
 'BELLA PARMA',
 'BERNI',
 'BIXENTE IBARRA',
 'BJORG',
 'BO&NO',
 'BUITONI',
 'CALANQUET',
 'CASA RINALDI',
 'CASATORRA',
 'CASERTA',
 'CHERE NATURE',
 'CHRISTINE LE TENNIER',
 'CIRIO',
 'CIRO',
 'COELSANUS',
 'CONDIMIENTI',
 'CONSERVERIE AU BEC FIN',
 'CONTORNO',
 'CUCINA ANTICA',
 'DAMICO',
 'DAMINIANI',
 'DAR DELICE',
 'DE CECCO',
 'DELIZIE DI CALABRIA',
 'DI VITA',
 'DIVIN',
 'DOM DUARTE',
 'DOMAINE DU MATES',
 'DON ANTONIO',
 'EDERKI',
 'EL SAADA',
 'EMILE NOEL',
 'ERIC BUR',
 'ESMERALDA',
 'ESSENZIA',
 'ETHNIC DELIGHTS',
 'EXOTIC FOOD',
 'EXOTIC FOOD PLC',
 'FATTORIE UMBRE',
 'FAVORITA FIGH',
 'FERMETTE',
 'FERRER',
 'FLORELLI',
 'FLORENTI',
 'FRAGASSI',
 'FRANCOIS ROMEO',
 'FUCHS',
 'GAIA',
 'GIRAUDET',
 'GIUSEPPE SIGNORELLI',
 'GLOBE ITALIA',
 'GO TAN',
 'GOTXOKI',
 'GRAN CUCINA',
 'GRAN GUSTO',
 'GRAND MERE',
 "GRANNY'S SECRET",
 'GRANORO',
 'GRAZIE',
 'GREEN SAFFRON',
 'GREEN SAFRON',
 'HEINZ',
 'HELIOS',
 'ITALIANS DO IT BETTER',
 'JARDIN BIO',
 'JEAN MARTIN',
 'KIKKOMAN',
 'KUHNE',
 "L'ART DES SAVEURS",
 "L'ITALIE DES SAVEURS",
 "L'ITALIE DU BIO",
 'LA BOUTIQUE PROVENCAL',
 'LA COSTENA',
 'LA FAVORITA FIGH',
 'LA MACINA LIGURE',
 'LA MALVA ROSA',
 'LA TRATTORIA',
 'LANDREAU',
 'LE CABANON',
 'LE CONSERVE DELLA NONNA',
 'LE COQ NOIR',
 'LE DELIZIE DI MAMMA PUGGIA',
 'LE SAUCIER PROVENCAL',
 'LECONSERVE DELLA NONNA',
 'LES 4 SAISONS',
 'LES CUISINES DU SUD',
 'LES MARINADES',
 'LES METS DE PROVENCE',
 'LES NICOIS',
 'LES PETITS FRICOTS',
 'LES RECETTES BEAUMOULIN',
 'LES TOQUES BLANCHES',
 'LI DELIZIE DI MAMMA PUGGIA',
 'LINEA ATTIVA',
 'LOUIS MARTIN',
 'LOYD GROSSMAN',
 'LUCIEN GEORGELIN',
 'MAHDIA',
 'MAISON MALARTRE',
 'MAISON POTIER',
 'MAISON RIVERE',
 'MAJORA',
 'MARIANFELA PRUNOTTO',
 'MARIUS BERNARD',
 "MASQUE D'OR",
 'MATHIEU VIANNAY X PANZANI',
 'METS DE PROVENCE',
 'MIRIN',
 'MONTABALNO',
 'MONTI',
 'MONTPERAL',
 'MOSAÏQUE',
 'MOULIN DU CALANQUET',
 'MQ FAB 1 PRX',
 'MUTTI',
 'NAT ALI',
 'NATURAMICA',
 'NATURGIE',
 'NONNA',
 'NONNA BRUNA',
 'NORD SALSE',
 'NOVA',
 'OBENTO',
 'OLD EL PASO',
 'OPEN FOOD FACTS',
 'P GUINTRAND',
 'PAKAKS',
 'PANZANI',
 'PAPA JO',
 'PASSATA',
 "PATAK'S",
 'PATAKS',
 'PERNICI',
 'PESTO & PIU',
 'PETTI',
 'PIACELLI',
 'PICUEZO',
 'PIETRO CASTELLI',
 'PLAZZA DEL SOL',
 'POLLI',
 'POMI',
 'PONTI',
 'PRIX CHOC',
 'PRONTIDEE',
 'PUMA',
 "QUINTA D'AVO",
 'RAJAH',
 'RAYNAUD DE PERNES',
 'RAYNAUD ET ROQUELAURE',
 "REGIONI D'ITALIA",
 'RICOSSA',
 'RISCOSSA',
 'RISTORANTE ITALIANO',
 'RIVOIRE & CARRET',
 'ROCHAMBEAU',
 'ROMANA',
 'ROYAL BOURBON',
 'RUMMO',
 'RUSTICHELLA',
 'SACLA',
 'SAINT CHRISTOPHE',
 'SAKARI',
 'SALSA GUSTO',
 'SAN CASSIANO',
 'SANOFRUIT',
 'SARF',
 'SAVEURS ATTITUTE',
 'SCHNEIDERS',
 'SEGRETI DI RIVA',
 'SHNEIDERS',
 'SICIELANI',
 'SICILIANA',
 'SIGNORELLI',
 'SUGO MAMMA',
 'SUGORO',
 'SUZY WAN',
 'Schneider’s',
 'TERRE DI SANGIORGIO',
 'THAI DANCER',
 'THAIN KITCHEN',
 'TIGER TIGER',
 'TRAMIER',
 'TREOITALIA',
 'UN CHEF EN PROVENCE',
 'UNC BENS',
 'URSINI',
 'VALBONA',
 'VALFLEURI',
 'VERRY VEG',
 'VERY G',
 'VERY VEG',
 'VICTORIA',
 'YARDEN',
 'ZAKIA',
 'ZAPETTI BUITONI',
 'ZIKIRO']

In [263]:
df_LABELS=df_I_PROD[['I_ITEM','I_CATEGORIE_OPTIMISEE','I_VOL_CAM_AN-1', 'I_VOL_DERNIER_CAM']]
df_LABELS.rename(columns={'I_CATEGORIE_OPTIMISEE': 'I_CATEGORY','I_VOL_CAM_AN-1':'I_Ventes_Volume_2018','I_VOL_DERNIER_CAM':'I_Ventes_Volume_2019'}, inplace=True)
print(df_LABELS.shape) 
df_LABELS.head(10)

(1272, 4)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

          I_ITEM  I_CATEGORY  I_Ventes_Volume_2018  I_Ventes_Volume_2019
0  3038359005220  PROVENCALE             1076764.7             1198246.6
1  3038359007651  BOLOGNAISE              109299.5             1166537.5
2  3038359005213  PROVENCALE             1097964.6             1160097.4
3  3038359004155  BOLOGNAISE              921213.1              967241.4
4  3038359005237  PROVENCALE              792896.8              907869.9
5  8076809513722     BASILIC              825467.7              858279.8
6  3038354192109  PROVENCALE              839255.4              837246.8
7  3038359007644  BOLOGNAISE               38117.9              814203.6
8  3038354192406  PROVENCALE              633374.1              755619.1
9  3038359003806  BOLOGNAISE              619238.7              657555.2

In [264]:
# products labelled in Marine file = 1.273
print('number of products in Marine file',df_I_PROD['I_ITEM'].count())
print('number of products categorised:',df_LABELS.shape[0])
print('number of products categorised as unknown:',df_I_PROD[df_I_PROD['I_CATEGORIE_OPTIMISEE']=='produit_non_connu'].shape[0])

number of products in Marine file 1272
number of products categorised: 1272
number of products categorised as unknown: 160

In [265]:
df_I_PROD['I_CATEGORIE_OPTIMISEE'].unique()

array(['PROVENCALE', 'BOLOGNAISE', 'BASILIC', 'PESTO_VERT', 'PESTO_ROUGE',
       'ARRABBIATA', 'FROMAGE', 'OLIVES', 'CHAMPIGNONS', 'LEGUMES',
       'POMODORO', 'AUBERGINES', 'AUTRE', 'POIVRON', 'PESTO_AUTRE',
       'produit_non_connu'], dtype=object)

In [266]:
###################################################
# 2.3) Merge labels into N_PROD

In [267]:
df_N_PROD_LABEL = df_N_PROD.merge(df_LABELS, left_on='N_ITEM', right_on='I_ITEM', how='left')
print(df_N_PROD_LABEL.shape)
print('\nN_ITEMs not found in df_LABELS:',df_N_PROD.shape[0]-df_LABELS.shape[0])
print('\n',df_N_PROD_LABEL.columns)

(1443, 24)

N_ITEMs not found in df_LABELS: 171

 Index(['Unnamed: 0', 'index', 'N_EAN13', 'N_MARQUE', 'N_SAME_PRODUCT',
       'N_GAMME', 'N_RECETTES', 'N_ORGANIC', 'N_FORMAT', 'N_WEIGHT_num',
       'N_EMBALLAGE', 'N_COMPTE', 'N_STD/PROMO', 'N_Ventes_Valeur_2019',
       'N_Ventes_Valeur_2018', 'N_ITEM', 'N_NIELSEN_DESCRIPTION',
       'N_INITIAL_INDEX', 'N_CATEGORY', 'N_COUNT', 'I_ITEM', 'I_CATEGORY',
       'I_Ventes_Volume_2018', 'I_Ventes_Volume_2019'],
      dtype='object')

In [268]:
# replace nan values after merge (non labellised products in Marine file) by '' or 0
prod_not_found_index=nan_get_index(df_N_PROD_LABEL,'I_ITEM', pr=0)
print(prod_not_found_index)
df_N_PROD_LABEL.loc[prod_not_found_index,'I_ITEM']=''
df_N_PROD_LABEL.loc[prod_not_found_index,'I_CATEGORY']=''
df_N_PROD_LABEL.loc[prod_not_found_index,'I_Ventes_Volume_2018']=0
df_N_PROD_LABEL.loc[prod_not_found_index,'I_Ventes_Volume_2019']=0

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442],
           dtype='int64', length=171)

In [269]:
# replace 'produit_non_connu' in I_CATEGORY (label) by '' as for former nan values repalced by '' too 
df_N_PROD_LABEL['I_CATEGORY']=df_N_PROD_LABEL['I_CATEGORY'].str.replace('produit_non_connu','')

In [274]:
# replace nan values for MDD by '' or 0
prod_MDD_index=df_N_PROD_LABEL[df_N_PROD_LABEL['N_EAN13']=='0'].index
print('nombre de ligne avec des MDD (vides):',len(prod_MDD_index))
print(prod_MDD_index)
col_empty=['N_GAMME','N_RECETTES','N_FORMAT','N_COMPTE','N_STD/PROMO','N_ITEM']
for col in col_empty:
    df_N_PROD_LABEL.loc[prod_MDD_index,col]=''

nombre de ligne avec des MDD (vides): 11
Int64Index([4, 28, 140, 164, 192, 193, 246, 256, 1067, 1068, 1426], dtype='int64')

In [275]:
df_N_PROD_LABEL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1443 entries, 0 to 1442
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1443 non-null   int64
 1   index                  1443 non-null   int64
 2   N_EAN13                1443 non-null   object
 3   N_MARQUE               1443 non-null   object
 4   N_SAME_PRODUCT         1443 non-null   object
 5   N_GAMME                1443 non-null   object
 6   N_RECETTES             1443 non-null   object
 7   N_ORGANIC              1443 non-null   object
 8   N_FORMAT               1443 non-null   object
 9   N_WEIGHT_num           1443 non-null   int64
 10  N_EMBALLAGE            1443 non-null   object
 11  N_COMPTE               1443 non-null   object
 12  N_STD/PROMO            1443 non-null   object
 13  N_Ventes_Valeur_2019   1443 non-null   float64
 14  N_Ventes_Valeur_2018   1443 non-null   float64
 15  N_ITEM                 1443 non-null   object
 16  N_NIELSEN_DESCRIPTION  1443 non-null   object
 17  N_INITIAL_INDEX        1443 non-null   int64
 18  N_CATEGORY             1443 non-null   object
 19  N_COUNT                1443 non-null   int64
 20  I_ITEM                 1443 non-null   object
 21  I_CATEGORY             1443 non-null   object
 22  I_Ventes_Volume_2018   1443 non-null   float64
 23  I_Ventes_Volume_2019   1443 non-null   float64
dtypes: float64(4), int64(5), object(15)
memory usage: 321.8+ KB

In [278]:
df_N_PROD_LABEL.head()

,Unnamed: 0,index,N_EAN13,N_MARQUE,N_SAME_PRODUCT,N_GAMME,N_RECETTES,N_ORGANIC,N_FORMAT,N_WEIGHT_num,...,N_Ventes_Valeur_2018,N_ITEM,N_NIELSEN_DESCRIPTION,N_INITIAL_INDEX,N_CATEGORY,N_COUNT,I_ITEM,I_CATEGORY,I_Ventes_Volume_2018,I_Ventes_Volume_2019
0,0,1542,3760052155536,AUT_MQ,AUT_MQ | SCE_CLAS | CITRON_VERT_PIMENT_DOUX | ...,SCE_CLAS,CITRON_VERT_PIMENT_DOUX,NON_BIO,PF,100,...,1563.3,3760052155536,AUT_EMB_AUT_FAB_AUT_MQ_SCE_CLAS_PF_CITRON_VERT...,1542,AUT_SCE,1,,,0.0,0.0
1,1,1543,8854404005213,AUT_MQ,AUT_MQ | SCE_CLAS | CURRY_JAUNE_THAI | AUT_EMB...,SCE_CLAS,CURRY_JAUNE_THAI,NON_BIO,PF,300,...,11908.0,8854404005213,AUT_SCE_AUT_EMB_AUT_FAB_AUT_MQ_SCE_CLAS_PF_CUR...,1543,AUT_SCE,1,,,0.0,0.0
2,2,1544,8858135071028,AUT_MQ,AUT_MQ | SCE_CLAS | CURRY_VERT_&_LEGUMES | AUT...,SCE_CLAS,CURRY_VERT_&_LEGUMES,NON_BIO,PF,300,...,0.0,8858135071028,SCE_AUT_EMB_AUT_FAB_AUT_MQ_SCE_CLAS_PF_CURRY_V...,1544,AUT_SCE,1,,,0.0,0.0
3,3,1545,3760052155512,AUT_MQ,AUT_MQ | SCE_CLAS | YUZU | AUT_EMB | NON_BIO,SCE_CLAS,YUZU,NON_BIO,PF,100,...,1010.2,3760052155512,AUT_SCE_AUT_EMB_AUT_FAB_AUT_MQ_SCE_CLAS_PF_YUZ...,1545,AUT_SCE,1,,,0.0,0.0
4,4,1547,0,MDD,MDD | AUT_SCE | | BRIC |,,,separator,,0,...,0.0,,AUT_SCE_BRIC_MDD,1547,AUT_SCE,1,,,0.0,0.0

In [279]:
df_N_PROD_LABEL['I_CATEGORY'].unique()

array(['', 'AUTRE', 'POMODORO', 'PESTO_VERT', 'POIVRON', 'BASILIC',
       'ARRABBIATA', 'LEGUMES', 'BOLOGNAISE', 'AUBERGINES', 'CHAMPIGNONS',
       'OLIVES', 'FROMAGE', 'PESTO_AUTRE', 'PESTO_ROUGE', 'PROVENCALE'],
      dtype=object)

In [282]:
df_N_PROD_LABEL_BY_BRANDS = df_N_PROD_LABEL[['I_CATEGORY','N_COUNT','N_Ventes_Valeur_2019','N_Ventes_Valeur_2018','I_Ventes_Volume_2019','I_Ventes_Volume_2018']].groupby(by=['I_CATEGORY']).sum().sort_values(by='N_Ventes_Valeur_2019',ascending=False)
df_N_PROD_LABEL_BY_BRANDS

,N_COUNT,N_Ventes_Valeur_2019,N_Ventes_Valeur_2018,I_Ventes_Volume_2019,I_Ventes_Volume_2018
I_CATEGORY,,,,,
,331,146118617.1,138640799.4,28341.4,76849.5
BOLOGNAISE,208,58093341.2,58152594.1,9051500.6,10447638.9
PROVENCALE,37,32278024.7,30891189.0,8119206.1,7731375.9
PESTO_VERT,114,29125563.3,25848256.2,2012112.6,1774829.6
BASILIC,102,18333316.8,18481104.8,2758564.7,2816582.6
PESTO_ROUGE,65,15525902.5,14851225.6,1075399.2,1068190.4
ARRABBIATA,69,8972383.9,8380153.9,1101549.0,1052723.0
FROMAGE,66,8443870.9,8519686.1,1056925.8,1017119.1
LEGUMES,132,7948215.5,7109981.7,1013724.4,1093558.0
OLIVES,59,6933484.8,7638677.1,1103506.5,1231588.6
CHAMPIGNONS,46,3821830.7,3681776.2,596995.6,573022.1
POMODORO,82,3210429.6,3018327.3,433032.1,429845.8
AUBERGINES,20,1871005.2,1895218.2,111405.9,115297.9
POIVRON,32,1353286.1,1919777.4,123568.5,226348.2
AUTRE,68,1124886.7,1088783.4,118534.5,106217.8
PESTO_AUTRE,12,655251.4,824977.0,47111.8,57893.8

In [283]:
df_N_PROD_LABEL_BY_BRANDS.to_csv('../N_NIELSEN/output_data/df_N_PROD_LABEL_BY_BRANDS.csv')
df_N_PROD_LABEL_BY_BRANDS.to_excel('../N_NIELSEN/output_data/df_N_PROD_LABEL_BY_BRANDS.xlsx')

In [284]:
print('ventes valeurs 2019:',df_N_PROD_LABEL['N_Ventes_Valeur_2019'].sum())
print('contrôle:',343809410.40 - round(df_N_PROD_LABEL['N_Ventes_Valeur_2019'].sum(),2))
print('\nventes volumes 2019:',df_N_PROD_LABEL['I_Ventes_Volume_2019'].sum())
print('contrôle:',28751478.70 - round(df_N_PROD_LABEL['I_Ventes_Volume_2019'].sum(),2))

ventes valeurs 2019: 343809410.40000004
contrôle: 0.0

ventes volumes 2019: 28751478.7
contrôle: 0.0

In [41]:
%pwd

'C:\\Users\\baudant\\OneDrive - BEFIVE\\italians_do_it_better\\M_MERGE'

In [285]:
df_N_PROD_LABEL.to_csv('../N_NIELSEN/output_data/df_N_PROD_LABEL.csv')
df_N_PROD_LABEL.to_excel('../N_NIELSEN/output_data/df_N_PROD_LABEL.xlsx')

In [43]:


###############################################################
# 3) EXTRACT O_PROD_SEL with all brands to follow               #
###############################################################

In [44]:
###################################################
# 3.1) Brands to follow (Nielsen + Italians selection)

In [286]:
# A) number of brands in I-Italians
I_BRANDS_U= unique_clean(df_M_PROD_N_EAN13,'O_brands')
print(I_BRANDS_U)
print('\nnumber of brands found in OPEN FOOD FACTS:',len(M_BRANDS_O_U))

number of  O_brands  unique (non null) values:  253
<class 'list'>

['Blue Elephant', 'Real Thai', 'Les Bories', 'Christian Potier', 'L’Atelier Miti', 'L’atelier', 'L’atelier Miti', 'Christian potier', "L' Atelier De Chateaubourg", 'Thai Kitchen,McCormick', 'THAI KITCHEN', 'Go tan', 'Le Phare du Cap Bon', "Quintá D'Avó Piri-Piri A L'ail", 'Les Niçois', 'Kühne', 'Green Saffron', "Patak's", 'Patak’s', 'Alnatura', 'Rajah', 'Valfleuri', 'kuhne', "Granny's Secret", "Granny s secret,granny's secret", 'Baktat', 'Marius Bernard', 'Pernici', 'Grand Mère', 'Kikkoman', 'Les Recettes BeauMoulin', 'Ayam', 'Le coq noir', 'Tramier', 'Grand’Mere Sauces', 'Exotic Food PLC', "Grand'Mère Sauces", 'Very VeG !', 'Yutaka', 'Maison Malartre', 'Thai Dancer', 'Salsa gusto', 'Antico Casalo', 'Gusto', 'Salsa Gusto', 'Casa Rinaldi', 'Thai Kitchen', 'Agromonte', 'Real gallo', 'Delizie di Calabria', 'Obento', 'Exotic Food', 'Barilla', 'Florelli', 'florelli', 'italians do it better', 'Italians Do It Better', 'Jardin Bio, Léa Nature', 'Sacla', 'Suzi Wan', 'SuziWan', 'Suzi wan', 'BLUE DRAGON', 'Celorrio', 'Heinz', 'Panzani', 'Zapetti', 'Mahdia', 'Raynaud De Pernes', 'Hida', 'Cirio', 'Louis Martin', 'Florenti', 'panzani', 'zapetti', 'Raynal et Roquelaure,Zapetti', 'Buitoni', 'Zapetti,Raynal et Roquelaure', 'zapetti,raynal et roquelaure', 'Jardin Bio,Léa Nature', 'Soleillans et Provence tomates', 'HP', 'Loyd Grossman', 'Cucina Antica', 'Signorelli', 'La Conserve della Nonna', 'Artisan de la Truffe Paris,Artisan de la Truffe', 'Les Mets de Provence', 'Emile noel', 'Les Mets De Provence', 'Freeway', 'Alnatura,Migros', 'Le Val de Lys,SanoFruit', 'San Cassiano', 'Divin Bio', 'Very Veg!', 'Le Delizie Di Mamma Puggia', 'Treo', 'Jean Martin', 'Les mets de provence', 'Naturgie,Saveurs Attitudes', 'Le Delizie di Mamma Puggia', 'Terre Di Sangiorgio', 'Very Veg', 'Very G !', 'Grazie', 'La Macina Ligure', 'grazie', 'Saveurs Attitudes', 'Nat ali,Nature et aliments', 'Le Coq Noir', 'Helios', 'Le conserve della nonna', 'Rochambeau', 'El Saada', "Masque d'Or", "L'Italie des Saveurs", 'Ciro', 'Reynaud De Pernes', 'Riscossa', 'Ponti', 'Le Conserve Della Nonna', 'Di Vita', 'Saint Christophe', 'Pietro castelli', 'Pietro Castelli', 'Éric Bur', 'Conserverie Casatorra', 'Sicieliani', 'Prix Choc', 'Gotxoki', 'Esmeralda', 'Ferrer', 'Divella', 'Loyd grossman', 'Le Conserve de la Nonna', 'BELLA PARMA', 'Daminiani', 'Casimex', 'Sugoro', 'Segreti di RIVA', 'Daminiani,Pates Daminiani', 'Teekanne', 'Pomi', 'Fermette', 'Bixente Ibarra', 'Montperal', 'Sans marque,Conserves France, Carrefour', 'BO & NO,Les Menus du Monde', 'CasaRinaldi', 'Tenuta Fragassi', 'Conserverie Au Bec Fin', 'Les Toques Blanches Du Monde', 'Ethnic Delights', 'Maison Rivière', 'Nonna Bruna', 'Pernic', 'Montalbano', 'Eric Bur', 'Domaine du Matès', 'Grand Mere', 'Au Bec Fin', 'La Favoritalive', 'Zikiro', 'Sakari', 'Baionade', 'Plaza del sol', 'Pastificio Riscossa', 'Le Saucier Provençal', 'Ursini', 'Anne Rozes', 'Un Chef en Provence', 'La Boutique Provencale', 'Conserverie Au bec fin', 'Papaya Le Saucier Provencal', 'Aymard', 'Monti', "Rustichella D'Abruzzo", 'A la table de Mathilde', 'La Costeña', 'Marius bernard', 'Eric BUR', 'Pesto & Piu', 'A Paesana', 'Al Dente La Salsa', 'les petits fricots', 'Les Toques Blanches,Les Toques Blanches du Monde', 'La Malva Rosa', 'Valbona', 'Andros', 'Di vita', 'Piacelli', 'SARF', 'Yarden', 'Star', "L'art des saveurs", 'Un chef en Provence', 'nonna bruna', 'Le Conserve della Nonna', 'Aldi', 'Barilla, Kalkof', 'Bjorg', 'Caserta', 'Northmaen', 'CIRIO', 'De Cecco', 'De Cecco,Dececco', 'De cecco', 'Dececco', 'Florelli Bio,Florelli', 'Fiorelli', 'Florelli,Ital Passion', 'Florelli ', 'Heinz,H.J. Heinz', 'Italians do it better', 'Pomodoro', 'Jardin bio', "Jardin Bio',Léa nature", 'Jardin Bio,LEA Nature', 'Jardin Bio', 'Jardin BIO,Léa Nature', 'Lea Nature Jardin Bio', "Jardin Bio,Jardin Bio',Léa Nature", "Jardin Bio',Léa Nature", 'Jardin BIO,Léa nature', 'Le Cabanon', 'Le Cabanon en Provence', 'Lucien Georgelin', 'Lucien georgelin', 'Segreti Di Riva', 'Segreti di Riva', 'Segreti di Riva,Riva-France', 'Mutti', 'MUTTI', 'Old el paso', 'Old El Paso', 'Panzani,Ebro Foods', 'PANZANI', 'Panzani,qualité fraîchement cuisinée', 'Polli', 'Rivoire & Carret', 'Rivoire carret,Rivoire et Carret', 'Rummo', 'Saclà', 'SACLA', 'Sacla, Sacla Italia', 'Sacla Italia', 'Sacla,Jordans', 'Sacla italia', 'sacla', 'Victoria', 'Zakia Halal', 'Zakia']

number of brands found in OPEN FOOD FACTS: 253

In [287]:
# B) list of brands in Nielsen classified in 'AUT MQ'
df_M_PROD_N_EAN13 = pd.read_csv('output_data/M_PROD_N_EAN13.csv', index_col=0)

df_M_PROD_N_EAN13.columns

Index(['index', 'N_EAN13', 'N_MARQUE', 'N_SAME_PRODUCT', 'N_GAMME',
       'N_RECETTES', 'N_ORGANIC', 'N_FORMAT', 'N_WEIGHT_num', 'N_EMBALLAGE',
       'N_COMPTE', 'N_STD/PROMO', 'N_Ventes_Valeur_2019',
       'N_Ventes_Valeur_2018', 'N_ITEM', 'N_NIELSEN_DESCRIPTION',
       'N_INITIAL_INDEX', 'N_CATEGORY', 'N_COUNT', 'O_EAN13',
       'O_product_name_fr', 'O_product_name', 'O_brands', 'O_brands_tags_str',
       'O_brands_tags', 'O_serving_size', 'O_serving_quantity',
       'O_countries_hierarchy', 'O_cities_tags', 'O_manufacturing_places',
       'O_purchase_places', 'O_countries_tags', 'O_categories',
       'O_category_properties', 'O_pnns_groups_1', 'O_pnns_groups_2',
       'O_compared_to_category', 'O_interface_version_modified',
       'O_ingredients_n', 'O_ingredients_text', 'O_ingredients',
       'O_salt_content', 'O_max_salt_content', 'O_min_salt_content',
       'O_oil_content', 'O_max_oil_content', 'O_min_oil_content', 'O_oil_type',
       'O_nutriments', 'O_energy_100g', 'O_energy_kcal_100g',
       'O_saturated_fat_100g', 'O_fat_100g', 'O_carbohydrates_100g',
       'O_sugars_100g',
       'O_fruits_vegetables_nuts_estimate_from_ingredients_100g',
       'O_proteins_100g', 'O_sodium_100g', 'O_salt_100g',
       'O_nutrition_score_fr_100g', 'O_fiber_100g', 'O_nova_group_100g',
       'O_COUNT', 'O_date_modified'],
      dtype='object')

In [288]:
M_BRANDS_O_U= unique_clean(df_M_PROD_N_EAN13,'O_brands',1)
print('number of brands found in OPPEN FOOD FACTS:',len(M_BRANDS_O_U))

Blue Elephant
Real Thai
Les Bories
Christian Potier
L’Atelier Miti
L’atelier
L’atelier Miti
Christian potier
L' Atelier De Chateaubourg
Thai Kitchen,McCormick
THAI KITCHEN
Go tan
Le Phare du Cap Bon
Quintá D'Avó Piri-Piri A L'ail
Les Niçois
Kühne
Green Saffron
Patak's
Patak’s
Alnatura
Rajah
Valfleuri
kuhne
Granny's Secret
Granny s secret,granny's secret
Baktat
Marius Bernard
Pernici
Grand Mère
Kikkoman
Les Recettes BeauMoulin
Ayam
Le coq noir
Tramier
Grand’Mere Sauces
Exotic Food PLC
Grand'Mère Sauces
Very VeG !
Yutaka
Maison Malartre
Thai Dancer
Salsa gusto
Antico Casalo
Gusto
Salsa Gusto
Casa Rinaldi
Thai Kitchen
Agromonte
Real gallo
Delizie di Calabria
Obento
Exotic Food
Barilla
Florelli
florelli
italians do it better
Italians Do It Better
Jardin Bio, Léa Nature
Sacla
Suzi Wan
SuziWan
Suzi wan
BLUE DRAGON
Celorrio
Heinz
Panzani
Zapetti
Mahdia
Raynaud De Pernes
Hida
Cirio
Louis Martin
Florenti
panzani
zapetti
Raynal et Roquelaure,Zapetti
Buitoni
Zapetti,Raynal et Roquelaure
zapetti,raynal et roquelaure
Jardin Bio,Léa Nature
Soleillans et Provence tomates
HP
Loyd Grossman
Cucina Antica
Signorelli
La Conserve della Nonna
Artisan de la Truffe Paris,Artisan de la Truffe
Les Mets de Provence
Emile noel
Les Mets De Provence
Freeway
Alnatura,Migros
Le Val de Lys,SanoFruit
San Cassiano
Divin Bio
Very Veg!
Le Delizie Di Mamma Puggia
Treo
Jean Martin
Les mets de provence
Naturgie,Saveurs Attitudes
Le Delizie di Mamma Puggia
Terre Di Sangiorgio
Very Veg
Very G !
Grazie
La Macina Ligure
grazie
Saveurs Attitudes
Nat ali,Nature et aliments
Le Coq Noir
Helios
Le conserve della nonna
Rochambeau
El Saada
Masque d'Or
L'Italie des Saveurs
Ciro
Reynaud De Pernes
Riscossa
Ponti
Le Conserve Della Nonna
Di Vita
Saint Christophe
Pietro castelli
Pietro Castelli
Éric Bur
Conserverie Casatorra
Sicieliani
Prix Choc
Gotxoki
Esmeralda
Ferrer
Divella
Loyd grossman
Le Conserve de la Nonna
BELLA PARMA
Daminiani
Casimex
Sugoro
Segreti di RIVA
Daminiani,Pates Daminiani
Teekanne
Pomi
Fermette
Bixente Ibarra
Montperal
Sans marque,Conserves France, Carrefour
BO & NO,Les Menus du Monde
CasaRinaldi
Tenuta Fragassi
Conserverie Au Bec Fin
Les Toques Blanches Du Monde
Ethnic Delights
Maison Rivière
Nonna Bruna
Pernic
Montalbano
Eric Bur
Domaine du Matès
Grand Mere
Au Bec Fin
La Favoritalive
Zikiro
Sakari
Baionade
Plaza del sol
Pastificio Riscossa
Le Saucier Provençal
Ursini
Anne Rozes
Un Chef en Provence
La Boutique Provencale
Conserverie Au bec fin
Papaya Le Saucier Provencal
Aymard
Monti
Rustichella D'Abruzzo
A la table de Mathilde
La Costeña
Marius bernard
Eric BUR
Pesto & Piu
A Paesana
Al Dente La Salsa
les petits fricots
Les Toques Blanches,Les Toques Blanches du Monde
La Malva Rosa
Valbona
Andros
Di vita
Piacelli
SARF
Yarden
Star
L'art des saveurs
Un chef en Provence
nonna bruna
Le Conserve della Nonna
Aldi
Barilla, Kalkof
Bjorg
Caserta
Northmaen
CIRIO
De Cecco
De Cecco,Dececco
De cecco
Dececco
Florelli Bio,Florelli
Fiorelli
Florelli,Ital Passion
Florelli
Heinz,H.J. Heinz
Italians do it better
Pomodoro
Jardin bio
Jardin Bio',Léa nature
Jardin Bio,LEA Nature
Jardin Bio
Jardin BIO,Léa Nature
Lea Nature Jardin Bio
Jardin Bio,Jardin Bio',Léa Nature
Jardin Bio',Léa Nature
Jardin BIO,Léa nature
Le Cabanon
Le Cabanon en Provence
Lucien Georgelin
Lucien georgelin
Segreti Di Riva
Segreti di Riva
Segreti di Riva,Riva-France
Mutti
MUTTI
Old el paso
Old El Paso
Panzani,Ebro Foods
PANZANI
Panzani,qualité fraîchement cuisinée
Polli
Rivoire & Carret
Rivoire carret,Rivoire et Carret
Rummo
Saclà
SACLA
Sacla, Sacla Italia
Sacla Italia
Sacla,Jordans
Sacla italia
sacla
Victoria
Zakia Halal
Zakia

number of  O_brands  unique (non null) values:  253
<class 'list'>

number of brands found in OPPEN FOOD FACTS: 253

In [289]:
# Analysis of brands categorised in Nielsen as 'other brands' (AUT MQ)
M_BRANDS_U= unique_clean(df_N_AUT_MQ,'O_brands')
M_BRANDS_TAGS_U= unique_clean(df_N_AUT_MQ,'O_brands_tags')
M_BRANDS_TAGS_STR_U= unique_clean(df_N_AUT_MQ,'O_brands_tags_str')

NameError: name 'df_N_AUT_MQ' is not defined

In [290]:
#O_BRANDS sorted by corresponding N_BRANDS
N_MARQUE_O_brands=df_M_PROD_N_EAN13[['N_MARQUE','O_brands','N_ITEM']].groupby(by=['N_MARQUE','O_brands']).count()
N_MARQUE_O_brands

                                              N_ITEM
N_MARQUE        O_brands
AUT_MQ          A Paesana                          1
                A la table de Mathilde             2
                Agromonte                          4
                Al Dente La Salsa                  1
                Aldi                               1
...                                              ...
ZAPETTI_BUITONI Raynal et Roquelaure,Zapetti       1
                Zapetti                           38
                Zapetti,Raynal et Roquelaure       2
                zapetti                            3
                zapetti,raynal et roquelaure       1

[254 rows x 1 columns]

In [291]:
N_MARQUE_O_brands.to_excel('output_data/N_MARQUE_O_brands.xlsx')

In [300]:
# SWITCHBOARD from O_brands INTO brands_to_follaw
df_O_BRANDS_TO_FOLLOW=pd.read_excel('SWICHTBOARD_O_brands_INTO_brands_to_follow.xlsx')
df_O_BRANDS_TO_FOLLOW.rename(columns={'O_brands':'S_brands','BRAND':'S_BRAND','BRAND_TYPE':'S_BRAND_TYPE'},inplace=True)
df_O_BRANDS_TO_FOLLOW['S_BRANDS_UPPER']=df_O_BRANDS_TO_FOLLOW['S_brands'].str.upper()
df_O_BRANDS_TO_FOLLOW

,S_brands,S_BRAND,S_BRAND_TYPE,S_BRANDS_UPPER
0,auchan,AUCHAN,MDD,AUCHAN
1,"auchan-bio, auchan, l-oiseau, auchan-productio...",AUCHAN,MDD,"AUCHAN-BIO, AUCHAN, L-OISEAU, AUCHAN-PRODUCTIO..."
2,AUT_MQ,AUT MQ,AUT MQ,AUT_MQ
3,A la table de Mathilde,AUT_MQ,AUT_MQ,A LA TABLE DE MATHILDE
4,A Paesana,AUT_MQ,AUT_MQ,A PAESANA
...,...,...,...,...
305,"Raynal et Roquelaure,Zapetti",ZAPETTI_BUITONI,MARQUE,"RAYNAL ET ROQUELAURE,ZAPETTI"
306,Zapetti,ZAPETTI_BUITONI,MARQUE,ZAPETTI
307,zapetti,ZAPETTI_BUITONI,MARQUE,ZAPETTI
308,"Zapetti,Raynal et Roquelaure",ZAPETTI_BUITONI,MARQUE,"ZAPETTI,RAYNAL ET ROQUELAURE"
309,"zapetti,raynal et roquelaure",ZAPETTI_BUITONI,MARQUE,"ZAPETTI,RAYNAL ET ROQUELAURE"

In [318]:
O_BRANDS_TO_FOLLOW_U = pd.DataFrame(unique_clean(df_O_BRANDS_TO_FOLLOW,'S_brands'))
O_BRANDS_TO_FOLLOW_U_UPPER = O_BRANDS_TO_FOLLOW_U[0].str.upper().str.strip()
O_BRANDS_TO_FOLLOW_U = O_BRANDS_TO_FOLLOW_U[0]
#O_BRANDS_TO_FOLLOW_U = np.array(O_BRANDS_TO_FOLLOW_U)
print('O_BRANDS_TO_FOLLOW_U',type(O_BRANDS_TO_FOLLOW_U))
print('O_BRANDS_TO_FOLLOW_U_UPPER',type(O_BRANDS_TO_FOLLOW_U_UPPER))

number of  S_brands  unique (non null) values:  310
<class 'list'>

O_BRANDS_TO_FOLLOW_U <class 'pandas.core.series.Series'>
O_BRANDS_TO_FOLLOW_U_UPPER <class 'pandas.core.series.Series'>

In [294]:
# Check all brands in N_brands_U are in O_BRANDS_TO_FOLLOW 
N_brands_U = unique_clean(df_N_PROD,'N_MARQUE')
N_brands_U_PB = [] 
for b in N_brands_U:
    if b.strip() not in np.array(O_BRANDS_TO_FOLLOW_U_UPPER):
        N_brands_U_PB.append(b.upper())
sorted(set(N_brands_U_PB))

number of  N_MARQUE  unique (non null) values:  31
<class 'list'>

[]

In [295]:
#list of BRANDS to be specifically followed by ITALIANS
# may be in in df_N_PROD (in 'AUT MQ') or not
I_brands_U= sorted(set([
    'u',
    'auchan',
    'carrefour',
    'casino',
    'leader-price',
    'cora',
    'rustica', 'marque-repere',
    'belle-france',
    'monoprix',
    'bouton-d-or','intermarché', #intermarché ajouté à la main par Aurélie
    'la-vie-claire',
    'delhaize',
    'prosain',
    'franprix',
    'turini', 'marque-repere',
    'u-saveurs', 'u',
    'monoprix-gourmet', 'monoprix',
    'leader-price', 'dlp-distribution-leader-price', 'groupe-casino',
    'carrefour-bio', 'carrefour',
    'marque-repere', 'rustica',
    'reflets-de-france',
    'le-conserve-della-nonna',
    'monoprix-bio', 'monoprix',
    'turini', 'marque-repere', 'scamark-filiale-e-leclerc',
    'carrefour', 'cmi-carrefour-marchandises-internationales', 'groupe-carrefour',
    'casino-delices', 'casino',
    'casino-bio',
    'top-budget',
    'carrefour-bio',
    'biocoop',
    'garofalo',
    'monique-ranou',
    'marche-franprix', 'franprix',
    'itineraire-des-saveurs','intermarché', #intermarché ajouté à la main par Aurélie
    'nonna-bruna',
    'monoprix-gourmet',
    'fiorini', 'les-mousquetaires',
    'ursini',
    'les-delices-de-belle-france', 'belle-france',
    'marque-repere', 'turini',
    'bonneterre',
    'auchan-bio', 'auchan', 'l-oiseau', 'auchan-production', 'groupe-auchan',
    'petti']))
#I_brands_U

In [296]:
# Check all brands in I_brands_U are in O_BRANDS_TO_FOLLOW 
I_brands_U_PB=[]
for b in I_brands_U:
    if b.strip() not in np.array(O_BRANDS_TO_FOLLOW_U_UPPER):
        I_brands_U_PB.append(b.upper())
sorted(set(N_brands_U_PB))

[]

In [298]:
#marques bio dans la sélection Italians
import re
bio = re.compile('bio')
I_brands_bio=[]
for item in I_brands_U:
    if len(bio.findall(item))>0:
         I_brands_bio.append(item)

I_brands_bio

['auchan-bio', 'biocoop', 'carrefour-bio', 'casino-bio', 'monoprix-bio']

In [304]:
O_BRANDS_TO_FOLLOW_U

                                                     0
0                                               auchan
1    auchan-bio, auchan, l-oiseau, auchan-productio...
2                                              AUT_MQ
3                               A la table de Mathilde
4                                            A Paesana
..                                                 ...
305                       Raynal et Roquelaure,Zapetti
306                                            Zapetti
307                                            zapetti
308                       Zapetti,Raynal et Roquelaure
309                       zapetti,raynal et roquelaure

[310 rows x 1 columns]

In [251]:


###################################################
# 4) Select brands to follow in  O_PROD_SEL
###################################################

In [319]:
#create a column 'O_BRANDS_UPPER'
print(df_O_PROD.shape)
df_O_PROD['O_BRANDS_UPPER']=df_O_PROD['O_brands'].str.upper()

(18022, 46)

In [320]:
isin_brand_to_follow_UPPER=df_O_PROD['O_BRANDS_UPPER'].isin(O_BRANDS_TO_FOLLOW_U_UPPER)
isin_brand_to_follow_UPPER.sum()

3431

In [322]:
isin_brand_to_follow=df_O_PROD['O_brands'].isin(O_BRANDS_TO_FOLLOW_U)
isin_brand_to_follow.sum()

1973

In [337]:
df_PROD_BRANDS_SEL = df_O_PROD[isin_brand_to_follow_UPPER]
print(df_PROD_BRANDS_SEL.shape)
df_PROD_BRANDS_SEL

(3431, 46)

,O_EAN13,O_product_name_fr,O_product_name,O_brands,O_brands_tags_str,O_brands_tags,O_serving_size,O_serving_quantity,O_countries_hierarchy,O_cities_tags,...,O_fruits_vegetables_nuts_estimate_from_ingredients_100g,O_proteins_100g,O_sodium_100g,O_salt_100g,O_nutrition_score_fr_100g,O_fiber_100g,O_nova_group_100g,O_COUNT,O_date_modified,O_BRANDS_UPPER
3,0000087157215,Tomato Ketchup Heinz Ouverture En Bas,Tomato Ketchup Heinz Ouverture En Bas,Heinz,['heinz'],['heinz'],NaN,NaN,['en:france'],NaN,...,0.000000,1.2,0.7200,1.8000,13.0,NaN,3.0,1,20150316,HEINZ
13,0000050157846,Heinz Squeeze Sauce Salade Cream,Heinz Squeeze Sauce Salade Cream,Heinz,['heinz'],['heinz'],15 g,15.0,['en:france'],[],...,0.000000,1.3,0.6800,1.7000,14.0,NaN,4.0,1,20150316,HEINZ
15,0000087157635,Tomato Ketchup,Tomato Ketchup,Heinz,['heinz'],['heinz'],NaN,NaN,['en:france'],[],...,0.000000,1.2,0.7200,1.8000,13.0,NaN,3.0,1,20120622,HEINZ
72,0013000001014,Organic Tomato Ketchup,Organic Tomato Ketchup,Heinz,['heinz'],['heinz'],NaN,NaN,['en:france'],NaN,...,NaN,1.1,0.4804,1.2010,11.0,NaN,NaN,1,20150316,HEINZ
75,0013000526807,Heinz 57 Sauce,Sauce,Heinz,['heinz'],['heinz'],1 Tbsp (17 g),17.0,"['en:france', 'en:united-states']",NaN,...,5.555556,0.0,0.9410,2.3525,14.0,0.0,4.0,1,20150316,HEINZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18005,9556041611152,Sauce Teriyaki Ayam™,Sauce Teriyaki Ayam™,Ayam,['ayam'],['ayam'],10 g,10.0,"['en:australia', 'en:belgium', 'en:france', 'e...",[],...,0.000000,3.6,7.1200,17.8000,21.0,0.0,4.0,1,20150316,AYAM
18006,9556041611978,Mi Goreng Sauce Wok,Mi Goreng Sauce Wok,Ayam,['ayam'],['ayam'],20 g,20.0,['en:france'],[],...,8.500000,1.3,0.9200,2.3000,NaN,NaN,4.0,1,20150316,AYAM
18007,9556041612005,Sauce Wok Poivre Noir,Sauce Wok Poivre Noir,Ayam,['ayam'],['ayam'],NaN,NaN,['en:france'],NaN,...,NaN,1.6,0.8000,2.0000,9.0,NaN,NaN,1,20150316,AYAM
18008,9556041612555,Curry rouge thaï,Curry rouge thaï,Ayam,['ayam'],['ayam'],15g,15.0,"['en:belgium', 'en:france', 'en:united-kingdom']",[],...,24.823529,2.5,0.2920,0.7300,6.0,NaN,3.0,1,20120622,AYAM
18017,9800001267973,SUGO ALLA GRICIA,SUGO ALLA GRICIA,URSINI,['ursini'],['ursini'],NaN,NaN,['en:france'],[],...,NaN,6.8,0.7600,1.9000,15.0,NaN,NaN,1,20150316,URSINI

In [338]:
df_PROD_BRANDS_SEL.shape

(3431, 46)

In [339]:
###################################################
# 3.3) Merge O_PROD_SEL with SWITCHBOARD

In [340]:
df_PROD_BRANDS_SEL_M = df_PROD_BRANDS_SEL.merge(df_O_BRANDS_TO_FOLLOW, left_on='O_brands', right_on='S_brands', how='left')
print(df_PROD_BRANDS_SEL_M.shape)

df_PROD_BRANDS_SEL_M

(3431, 50)

,O_EAN13,O_product_name_fr,O_product_name,O_brands,O_brands_tags_str,O_brands_tags,O_serving_size,O_serving_quantity,O_countries_hierarchy,O_cities_tags,...,O_nutrition_score_fr_100g,O_fiber_100g,O_nova_group_100g,O_COUNT,O_date_modified,O_BRANDS_UPPER,S_brands,S_BRAND,S_BRAND_TYPE,S_BRANDS_UPPER
0,0000087157215,Tomato Ketchup Heinz Ouverture En Bas,Tomato Ketchup Heinz Ouverture En Bas,Heinz,['heinz'],['heinz'],NaN,NaN,['en:france'],NaN,...,13.0,NaN,3.0,1,20150316,HEINZ,Heinz,HEINZ,MARQUE,HEINZ
1,0000050157846,Heinz Squeeze Sauce Salade Cream,Heinz Squeeze Sauce Salade Cream,Heinz,['heinz'],['heinz'],15 g,15.0,['en:france'],[],...,14.0,NaN,4.0,1,20150316,HEINZ,Heinz,HEINZ,MARQUE,HEINZ
2,0000087157635,Tomato Ketchup,Tomato Ketchup,Heinz,['heinz'],['heinz'],NaN,NaN,['en:france'],[],...,13.0,NaN,3.0,1,20120622,HEINZ,Heinz,HEINZ,MARQUE,HEINZ
3,0013000001014,Organic Tomato Ketchup,Organic Tomato Ketchup,Heinz,['heinz'],['heinz'],NaN,NaN,['en:france'],NaN,...,11.0,NaN,NaN,1,20150316,HEINZ,Heinz,HEINZ,MARQUE,HEINZ
4,0013000526807,Heinz 57 Sauce,Sauce,Heinz,['heinz'],['heinz'],1 Tbsp (17 g),17.0,"['en:france', 'en:united-states']",NaN,...,14.0,0.0,4.0,1,20150316,HEINZ,Heinz,HEINZ,MARQUE,HEINZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3426,9556041611152,Sauce Teriyaki Ayam™,Sauce Teriyaki Ayam™,Ayam,['ayam'],['ayam'],10 g,10.0,"['en:australia', 'en:belgium', 'en:france', 'e...",[],...,21.0,0.0,4.0,1,20150316,AYAM,Ayam,AUT_MQ,AUT_MQ,AYAM
3427,9556041611978,Mi Goreng Sauce Wok,Mi Goreng Sauce Wok,Ayam,['ayam'],['ayam'],20 g,20.0,['en:france'],[],...,NaN,NaN,4.0,1,20150316,AYAM,Ayam,AUT_MQ,AUT_MQ,AYAM
3428,9556041612005,Sauce Wok Poivre Noir,Sauce Wok Poivre Noir,Ayam,['ayam'],['ayam'],NaN,NaN,['en:france'],NaN,...,9.0,NaN,NaN,1,20150316,AYAM,Ayam,AUT_MQ,AUT_MQ,AYAM
3429,9556041612555,Curry rouge thaï,Curry rouge thaï,Ayam,['ayam'],['ayam'],15g,15.0,"['en:belgium', 'en:france', 'en:united-kingdom']",[],...,6.0,NaN,3.0,1,20120622,AYAM,Ayam,AUT_MQ,AUT_MQ,AYAM
3430,9800001267973,SUGO ALLA GRICIA,SUGO ALLA GRICIA,URSINI,['ursini'],['ursini'],NaN,NaN,['en:france'],[],...,15.0,NaN,NaN,1,20150316,URSINI,NaN,NaN,NaN,NaN

In [341]:
df_PROD_BRANDS_SEL_M[['O_brands','S_BRAND','O_COUNT']].groupby(by=['S_BRAND']).sum().sort_values(by='O_COUNT',ascending=False).head(50)

                         O_COUNT
S_BRAND
AUT_MQ                       830
HEINZ                        258
PANZANI                      170
SACLA                        167
BARILLA                       90
ZAPETTI_BUITONI               78
LUCIEN_GEORGELIN              48
FLORELLI                      43
MUTTI                         42
JARDIN_BIO                    37
ITALIANS_DO_IT_BETTER         23
LOUIS_MARTIN                  22
CIRIO                         21
POLLI                         16
OLD_EL_PASO                   15
DE_CECCO                      15
SUZY_WAN                      13
BJORG                         12
RUMMO                          9
carrefour                      8
LE_CABANON                     7
Florenti                       7
RIVOIRE_&_CARRET               7
VICTORIA                       7
Le Conserve della Nonna        5
Segreti Di Riva                4
AUCHAN                         3
Nonna Bruna                    3
Ursini                         2
ZAKIA                          2
CASERTA                        2
cora                           2
SOLEILLANS                     1
casino                         1
delhaize                       1
franprix                       1

In [342]:
temp_check=df_PROD_BRANDS_SEL_M[['O_EAN13','O_COUNT']].groupby(by='O_EAN13').sum()
temp_check_2=temp_check[temp_check['O_COUNT']>1]
temp_check_2

Empty DataFrame
Columns: [O_COUNT]
Index: []

In [343]:
#df_PROD_BRANDS_SEL_M[df_PROD_BRANDS_SEL_M['O_EAN13']=='0076808006421']

In [344]:


###############################################################
# 5) FINALISED DATA                                           #
#    =>MERGE NIELSON N_PROD_LABEL into df_PROD_BRANDS_SEL_M   #
###############################################################

In [362]:
df_PROD = df_PROD_BRANDS_SEL_M.merge(df_N_PROD_LABEL, left_on='O_EAN13', right_on='N_EAN13', how='outer')
df_PROD.shape

(3979, 74)

In [361]:
#CHECK ALL ROWS IN NIELSEN ARE IN df_PROD
df_PROD_outer = df_PROD_BRANDS_SEL.merge(df_N_PROD_LABEL, left_on='O_EAN13', right_on='N_EAN13', how='outer')
df_PROD_outer.shape[0]

3979

In [365]:
#check total of sales value = 343 809 410,40 €
#check total of sales value non-MDD = 238 666 185,10   
#check total of sales volume = 84.991.284,70
print('total data ventes volumes',df_PROD['N_Ventes_Valeur_2019'].sum())
print('difference of :',343809410.40 -df_PROD['N_Ventes_Valeur_2019'].sum() )

total data ventes volumes 343809410.4
differnce of : 0.0

In [367]:
df_PROD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3979 entries, 0 to 3978
Data columns (total 74 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   O_EAN13                                                  3434 non-null   object
 1   O_product_name_fr                                        3305 non-null   object
 2   O_product_name                                           3419 non-null   object
 3   O_brands                                                 3434 non-null   object
 4   O_brands_tags_str                                        3434 non-null   object
 5   O_brands_tags                                            3434 non-null   object
 6   O_serving_size                                           539 non-null    object
 7   O_serving_quantity                                       539 non-null    float64
 8   O_countries_hierarchy                                    3434 non-null   object
 9   O_cities_tags                                            2460 non-null   object
 10  O_manufacturing_places                                   753 non-null    object
 11  O_purchase_places                                        1170 non-null   object
 12  O_countries_tags                                         3434 non-null   object
 13  O_categories                                             2995 non-null   object
 14  O_category_properties                                    3434 non-null   object
 15  O_pnns_groups_1                                          3433 non-null   object
 16  O_pnns_groups_2                                          3434 non-null   object
 17  O_compared_to_category                                   2970 non-null   object
 18  O_interface_version_modified                             3430 non-null   object
 19  O_ingredients_n                                          2542 non-null   float64
 20  O_ingredients_text                                       2542 non-null   object
 21  O_ingredients                                            3267 non-null   object
 22  O_salt_content                                           3267 non-null   object
 23  O_max_salt_content                                       3434 non-null   float64
 24  O_min_salt_content                                       3434 non-null   float64
 25  O_oil_content                                            3267 non-null   object
 26  O_max_oil_content                                        3434 non-null   float64
 27  O_min_oil_content                                        3434 non-null   float64
 28  O_oil_type                                               948 non-null    object
 29  O_nutriments                                             3434 non-null   object
 30  O_energy_100g                                            3309 non-null   float64
 31  O_energy_kcal_100g                                       2691 non-null   float64
 32  O_saturated_fat_100g                                     3280 non-null   float64
 33  O_fat_100g                                               3291 non-null   float64
 34  O_carbohydrates_100g                                     3293 non-null   float64
 35  O_sugars_100g                                            3286 non-null   float64
 36  O_fruits_vegetables_nuts_estimate_from_ingredients_100g  2541 non-null   float64
 37  O_proteins_100g                                          3307 non-null   float64
 38  O_sodium_100g                                            3281 non-null   float64
 39  O_salt_100g                                              3281 non-null   float64
 40  O_nutrition_score_fr_100g                                2816 non-null   float64
 41  O_fiber_100g                                             1557 non-null   float64
 42  O_nova_group_100g                                        2320 non-null   float64
 43  O_COUNT                                                  3434 non-null   float64
 44  O_date_modified                                          3434 non-null   object
 45  O_BRANDS_UPPER                                           3434 non-null   object
 46  S_brands                                                 1975 non-null   object
 47  S_BRAND                                                  1975 non-null   object
 48  S_BRAND_TYPE                                             1975 non-null   object
 49  S_BRANDS_UPPER                                           1975 non-null   object
 50  Unnamed: 0                                               1443 non-null   float64
 51  index                                                    1443 non-null   float64
 52  N_EAN13                                                  1443 non-null   object
 53  N_MARQUE                                                 1443 non-null   object
 54  N_SAME_PRODUCT                                           1443 non-null   object
 55  N_GAMME                                                  1443 non-null   object
 56  N_RECETTES                                               1443 non-null   object
 57  N_ORGANIC                                                1443 non-null   object
 58  N_FORMAT                                                 1443 non-null   object
 59  N_WEIGHT_num                                             1443 non-null   float64
 60  N_EMBALLAGE                                              1443 non-null   object
 61  N_COMPTE                                                 1443 non-null   object
 62  N_STD/PROMO                                              1443 non-null   object
 63  N_Ventes_Valeur_2019                                     1443 non-null   float64
 64  N_Ventes_Valeur_2018                                     1443 non-null   float64
 65  N_ITEM                                                   1443 non-null   object
 66  N_NIELSEN_DESCRIPTION                                    1443 non-null   object
 67  N_INITIAL_INDEX                                          1443 non-null   float64
 68  N_CATEGORY                                               1443 non-null   object
 69  N_COUNT                                                  1443 non-null   float64
 70  I_ITEM                                                   1443 non-null   object
 71  I_CATEGORY                                               1443 non-null   object
 72  I_Ventes_Volume_2018                                     1443 non-null   float64
 73  I_Ventes_Volume_2019                                     1443 non-null   float64
dtypes: float64(29), object(45)
memory usage: 2.3+ MB

In [368]:
df_PROD[['S_BRAND','N_Ventes_Valeur_2019','O_COUNT']].groupby(by='S_BRAND').sum().sort_values(by='N_Ventes_Valeur_2019',ascending=False)

                         N_Ventes_Valeur_2019  O_COUNT
S_BRAND
PANZANI                           110169046.7    173.0
BARILLA                            60065089.3     90.0
SACLA                              18916645.6    167.0
ZAPETTI_BUITONI                    13407643.9     78.0
HEINZ                              10023886.1    258.0
JARDIN_BIO                          6930278.6     37.0
AUT_MQ                              5875216.0    830.0
FLORELLI                            1851017.4     43.0
ITALIANS_DO_IT_BETTER               1804657.3     23.0
RUMMO                               1126753.9      9.0
LUCIEN_GEORGELIN                    1072463.9     48.0
Florenti                             908218.6      7.0
ZAKIA                                734981.9      2.0
OLD_EL_PASO                          292563.6     15.0
DE_CECCO                             291509.5     15.0
CIRIO                                249494.4     21.0
Segreti Di Riva                      165991.2      4.0
RIVOIRE_&_CARRET                     154908.2      7.0
SUZY_WAN                             135145.9     13.0
Le Conserve della Nonna              107490.1      5.0
POLLI                                 84209.8     16.0
VICTORIA                              75480.8      7.0
BJORG                                 71519.7     12.0
LOUIS_MARTIN                          58968.7     22.0
MUTTI                                 52285.1     42.0
Nonna Bruna                           41329.6      3.0
Ursini                                27394.8      2.0
CASERTA                               20724.5      2.0
LE_CABANON                            11616.7      7.0
delhaize                                  0.0      1.0
casino                                    0.0      1.0
cora                                      0.0      2.0
AUCHAN                                    0.0      3.0
carrefour                                 0.0      8.0
SOLEILLANS                                0.0      1.0
franprix                                  0.0      1.0

In [ ]:
# !!!!!!!!!!! MANY MDD EAN13 LOST IN THE PROCESS (BRAND SELECTION ?!?)  !!!!!!!!!!!

In [ ]:


###############################################################
# 4) CEHCK AND SAVE FILE                                      #
###############################################################

In [369]:
df_PROD

,O_EAN13,O_product_name_fr,O_product_name,O_brands,O_brands_tags_str,O_brands_tags,O_serving_size,O_serving_quantity,O_countries_hierarchy,O_cities_tags,...,N_Ventes_Valeur_2018,N_ITEM,N_NIELSEN_DESCRIPTION,N_INITIAL_INDEX,N_CATEGORY,N_COUNT,I_ITEM,I_CATEGORY,I_Ventes_Volume_2018,I_Ventes_Volume_2019
0,0000087157215,Tomato Ketchup Heinz Ouverture En Bas,Tomato Ketchup Heinz Ouverture En Bas,Heinz,['heinz'],['heinz'],NaN,NaN,['en:france'],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0000050157846,Heinz Squeeze Sauce Salade Cream,Heinz Squeeze Sauce Salade Cream,Heinz,['heinz'],['heinz'],15 g,15.0,['en:france'],[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0000087157635,Tomato Ketchup,Tomato Ketchup,Heinz,['heinz'],['heinz'],NaN,NaN,['en:france'],[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0013000001014,Organic Tomato Ketchup,Organic Tomato Ketchup,Heinz,['heinz'],['heinz'],NaN,NaN,['en:france'],NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0013000526807,Heinz 57 Sauce,Sauce,Heinz,['heinz'],['heinz'],1 Tbsp (17 g),17.0,"['en:france', 'en:united-states']",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,3021690019230,FECULENTS_POT_ZAPETTI_ZAPETTI_BUITONI_LEGUMES_...,3042.0,SAUCES_POUR_FECULENTS,1.0,3021690019230,,0.0,0.0
3975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8608.5,3337730909110,SAUCES_POUR_FECULENTS_TUB_AUT_FAB_AUT_MQ_BIO_P...,3045.0,SAUCES_POUR_FECULENTS,1.0,,,0.0,0.0
3976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,502.2,3337730908359,SAUCES_POUR_FECULENTS_TUB_AUT_FAB_AUT_MQ_PESTO...,3046.0,SAUCES_POUR_FECULENTS,1.0,,,0.0,0.0
3977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6267.3,3337730908380,SAUCES_POUR_FECULENTS_TUB_AUT_FAB_AUT_MQ_PESTO...,3047.0,SAUCES_POUR_FECULENTS,1.0,,,0.0,0.0
3978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,146292.3,3038359004551,POUR_FECULENTS_TUB_PANZANI_SA_PANZANI_LEGUMES_...,3067.0,SAUCES_POUR_FECULENTS,1.0,,,0.0,0.0

In [370]:
#------------------------------------------------
#SAVE M_PROD_SEL
df_PROD.to_csv('output_data/M_PROD_FINAL.csv')
df_PROD.to_excel('output_data/M_PROD_FINAL.xlsx')