In [1]:
%ls

 Le volume dans le lecteur C s'appelle Acer
 Le num‚ro de s‚rie du volume est 0694-CC4A

 R‚pertoire de C:\Users\baudant\OneDrive - BEFIVE\italians_do_it_better\N_NIELSEN

03/09/2020  01:13    <DIR>          .
03/09/2020  01:13    <DIR>          ..
02/09/2020  17:36    <DIR>          .ipynb_checkpoints
02/09/2020  18:11        39ÿ615ÿ344 Data_Nielsen_ALL.xlsx
03/09/2020  01:02            21ÿ375 N_EAN13.csv
03/09/2020  01:02            21ÿ375 N_EAN13.txt
03/09/2020  01:07            37ÿ050 N_EAN13_num.csv
03/09/2020  01:08            59ÿ552 N_preprocessing.ipynb
               5 fichier(s)       39ÿ754ÿ696 octets
               3 R‚p(s)  97ÿ613ÿ828ÿ096 octets libres

In [2]:
!pip install pandas
!pip install numpy
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.18.1)

In [3]:
data=pd.read_excel('Data_Nielsen_ALL.xlsx',usecols=range(3,42),header=0)
print('done')

done

In [5]:
data.head()

,MARKET.1,FACTS,NIELSEN_DESCRIPTION,EMBALLAGE,MARQUE,GAMME,FORMAT,RECETTES,COMPTE,STD/PROMO,...,4 S 21/04/19,4 S 19/05/19,4 S 16/06/19,4 S 14/07/19,4 S 11/08/19,4 S 08/09/19,4 S 06/10/19,4 S 03/11/19,4 S 01/12/19,4 S 29/12/19
0,HMSM + PROXI + DRIVE + SDMP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Ventes Volume,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,AUT SCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33094.2,44605.2,42718.4,48412.6,34205.7,42914.3,40980.1,42130.6,56423.4,40516.4
3,NaN,NaN,AUT SCE AUT EMB,AUT EMB,NaN,NaN,NaN,NaN,NaN,NaN,...,46.4,59.7,48.6,49.6,60.6,65.7,83.8,183.4,321.5,259.5
4,NaN,NaN,AUT SCE AUT EMB AUT MQ,AUT EMB,AUT MQ,NaN,NaN,NaN,NaN,NaN,...,46.4,59.7,48.6,49.6,60.6,65.7,83.8,183.4,321.5,259.5

In [10]:
data_initial=data.copy()

In [32]:
data.rename(columns={'MARKET.1': 'MARKET'},inplace=True)

In [33]:
data.keys()

Index(['MARKET', 'FACTS', 'NIELSEN_DESCRIPTION', 'EMBALLAGE', 'MARQUE',
       'GAMME', 'FORMAT', 'RECETTES', 'COMPTE', 'STD/PROMO', 'ITEM',
       'CAM AN-1', 'DERNIER CAM', '4 S 28/01/18', '4 S 25/02/18',
       '4 S 25/03/18', '4 S 22/04/18', '4 S 20/05/18', '4 S 17/06/18',
       '4 S 15/07/18', '4 S 12/08/18', '4 S 09/09/18', '4 S 07/10/18',
       '4 S 04/11/18', '4 S 02/12/18', '4 S 30/12/18', '4 S 27/01/19',
       '4 S 24/02/19', '4 S 24/03/19', '4 S 21/04/19', '4 S 19/05/19',
       '4 S 16/06/19', '4 S 14/07/19', '4 S 11/08/19', '4 S 08/09/19',
       '4 S 06/10/19', '4 S 03/11/19', '4 S 01/12/19', '4 S 29/12/19',
       'EAN13'],
      dtype='object')

In [ ]:
############################################################
#     EXTRACTION OF LIST OF UNIQUE EAN13 PRODUCT CODES     #
############################################################

In [12]:
#GET UNIQUE EAN13

N_EAN13=data['ITEM'].unique()
print('Il y  ',len(N_EAN13),' EAN13 dans la basse NIELSEN\n')
print(N_EAN13[0:20])
print(N_EAN13[-20:])

Il y   1433  EAN13 dans la basse NIELSEN

[nan '3760052155536' '8854404005213' '8858135071028' '3760052155512'
 '3416952625159' '3416360008261' '3302762103218' '3302762203246'
 '3302762203208' '3302762103133' '3302762213382' '3302762203222'
 '9325763000083' '3760052155505' '3760070015331' '3302767151122'
 '3302767151139' '3760070014556' '3760070014549']
['3337730908380' '8001440129353' '3760020508937' '3456300009064'
 '3069539003019' '0000080042549' '3038359008481' '3038359005640'
 '3038359000782' '3038359002113' '3038352871303' '3038359002335'
 '3038359004544' '3038359008603' '3038359004551' '3038359002823'
 '3038359008498' '3038359005657' '3038359001413' '3021690021851']

In [13]:
N_EAN13=N_EAN13[1:].flatten() #pour nelever la valeur nan
print('Il y  ',len(N_EAN13),' EAN13 dans la basse NIELSEN\n')
print(type(N_EAN13),'\n')
print(N_EAN13[0:20])
print(N_EAN13[-20:])

Il y   1432  EAN13 dans la basse NIELSEN

<class 'numpy.ndarray'>

['3760052155536' '8854404005213' '8858135071028' '3760052155512'
 '3416952625159' '3416360008261' '3302762103218' '3302762203246'
 '3302762203208' '3302762103133' '3302762213382' '3302762203222'
 '9325763000083' '3760052155505' '3760070015331' '3302767151122'
 '3302767151139' '3760070014556' '3760070014549' '3760070015324']
['3337730908380' '8001440129353' '3760020508937' '3456300009064'
 '3069539003019' '0000080042549' '3038359008481' '3038359005640'
 '3038359000782' '3038359002113' '3038352871303' '3038359002335'
 '3038359004544' '3038359008603' '3038359004551' '3038359002823'
 '3038359008498' '3038359005657' '3038359001413' '3021690021851']

In [14]:
N_EAN13

array(['3760052155536', '8854404005213', '8858135071028', ...,
       '3038359005657', '3038359001413', '3021690021851'], dtype=object)

In [39]:
N_EAN13.astype(np.float64)
#!!!! all ITEM are not numeric !!!!

ValueError: could not convert string to float: '3183811010837BP2'

In [15]:
# CHECK THAT ALL EAN13 CONTAIN ONLY 13 CHARACTERS
pb_length=[]
for i in N_EAN13:
    if len(i)!=13:
        pb_length.append(i)
        print(' length:',len(i),':',i)
        #pb_index.append(N_EAN13.index(i))
        #print('index:',N_EAN13.index(i),' length:',len(i),':',i)
print('\n',len(pb_length),' EAN13 codes are not 13 character long')

 length: 16 : 3183811010837BP2
 length: 16 : 3183811010837BP1
 length: 16 : 3337730000510BP1
 length: 16 : 3038354197500BP1
 length: 16 : 3038354197104BP1
 length: 16 : 3038359004605BP1
 length: 16 : 3038359004629BP1
 length: 16 : 3038359007712BP1
 length: 16 : 3038359007699BP2
 length: 16 : 3038359007699BP1
 length: 16 : 3038354197500BP2
 length: 16 : 3038359004629BP2
 length: 16 : 3038359007712BP2
 length: 16 : 3038354197104BP2
 length: 16 : 3038359004605BP2

 15  EAN13 codes are not 13 character long

In [16]:
# CHECK THAT ALL EAN13 CONTAIN ONLY NUMERICAL VALUES
pb=[]
pb_index=[]
for i in N_EAN13:
    if i.isdecimal()==False:
        pb.append(i)
        print(' length:',len(i),':',i)
        #pb_index.append(N_EAN13.index(i))
        #print('index:',N_EAN13.index(i),' length:',len(i),':',i)
print('\n',len(pb),' EAN13 codes are not numeric values (problem)')
if pb==pb_length:
    print('\nall issues with length and nunmerical values relate to the same ITEMS')

 length: 16 : 3183811010837BP2
 length: 16 : 3183811010837BP1
 length: 16 : 3337730000510BP1
 length: 16 : 3038354197500BP1
 length: 16 : 3038354197104BP1
 length: 16 : 3038359004605BP1
 length: 16 : 3038359004629BP1
 length: 16 : 3038359007712BP1
 length: 16 : 3038359007699BP2
 length: 16 : 3038359007699BP1
 length: 16 : 3038354197500BP2
 length: 16 : 3038359004629BP2
 length: 16 : 3038359007712BP2
 length: 16 : 3038354197104BP2
 length: 16 : 3038359004605BP2

 15  EAN13 codes are not numeric values (problem)

all issues with length and nunmerical values relate to the same ITEMS

In [17]:
for p in pb:
    print('\nEAN13 :',p)
    print(data[data['ITEM']==p][['STD/PROMO','MARQUE','NIELSEN_DESCRIPTION']])

EAN13 : 3183811010837BP2
       STD/PROMO  MARQUE                                NIELSEN_DESCRIPTION
737        PROMO  AUT MQ  POT AUT FAB AUT MQ LEGUMES PF TOMATE AIL & HER...
2274       PROMO  AUT MQ  POT AUT FAB AUT MQ LEGUMES PF TOMATE AIL & HER...
3811       PROMO  AUT MQ  POT AUT FAB AUT MQ LEGUMES PF TOMATE AIL & HER...
5348       PROMO  AUT MQ  POT AUT FAB AUT MQ LEGUMES PF TOMATE AIL & HER...
6885       PROMO  AUT MQ  POT AUT FAB AUT MQ LEGUMES PF TOMATE AIL & HER...
...          ...     ...                                                ...
202091     PROMO  AUT MQ  POT AUT FAB AUT MQ LEGUMES PF TOMATE AIL & HER...
203628     PROMO  AUT MQ  POT AUT FAB AUT MQ LEGUMES PF TOMATE AIL & HER...
205165     PROMO  AUT MQ  POT AUT FAB AUT MQ LEGUMES PF TOMATE AIL & HER...
206702     PROMO  AUT MQ  POT AUT FAB AUT MQ LEGUMES PF TOMATE AIL & HER...
208239     PROMO  AUT MQ  POT AUT FAB AUT MQ LEGUMES PF TOMATE AIL & HER...

[136 rows x 3 columns]

EAN13 : 3183811010837BP1
       STD/PROMO  MARQUE                                NIELSEN_DESCRIPTION
740        PROMO  AUT MQ  FECULENTS POT AUT FAB AUT MQ LEGUMES PF TOMATE...
2277       PROMO  AUT MQ  FECULENTS POT AUT FAB AUT MQ LEGUMES PF TOMATE...
3814       PROMO  AUT MQ  FECULENTS POT AUT FAB AUT MQ LEGUMES PF TOMATE...
5351       PROMO  AUT MQ  FECULENTS POT AUT FAB AUT MQ LEGUMES PF TOMATE...
6888       PROMO  AUT MQ  FECULENTS POT AUT FAB AUT MQ LEGUMES PF TOMATE...
...          ...     ...                                                ...
202094     PROMO  AUT MQ  FECULENTS POT AUT FAB AUT MQ LEGUMES PF TOMATE...
203631     PROMO  AUT MQ  FECULENTS POT AUT FAB AUT MQ LEGUMES PF TOMATE...
205168     PROMO  AUT MQ  FECULENTS POT AUT FAB AUT MQ LEGUMES PF TOMATE...
206705     PROMO  AUT MQ  FECULENTS POT AUT FAB AUT MQ LEGUMES PF TOMATE...
208242     PROMO  AUT MQ  FECULENTS POT AUT FAB AUT MQ LEGUMES PF TOMATE...

[136 rows x 3 columns]

EAN13 : 3337730000510BP1
       STD/PROMO  MARQUE                                NIELSEN_DESCRIPTION
795        PROMO  AUT MQ  SAUCES POUR FECULENTS POT AUT FAB AUT MQ PESTO...
2332       PROMO  AUT MQ  SAUCES POUR FECULENTS POT AUT FAB AUT MQ PESTO...
3869       PROMO  AUT MQ  SAUCES POUR FECULENTS POT AUT FAB AUT MQ PESTO...
5406       PROMO  AUT MQ  SAUCES POUR FECULENTS POT AUT FAB AUT MQ PESTO...
6943       PROMO  AUT MQ  SAUCES POUR FECULENTS POT AUT FAB AUT MQ PESTO...
...          ...     ...                                                ...
202149     PROMO  AUT MQ  SAUCES POUR FECULENTS POT AUT FAB AUT MQ PESTO...
203686     PROMO  AUT MQ  SAUCES POUR FECULENTS POT AUT FAB AUT MQ PESTO...
205223     PROMO  AUT MQ  SAUCES POUR FECULENTS POT AUT FAB AUT MQ PESTO...
206760     PROMO  AUT MQ  SAUCES POUR FECULENTS POT AUT FAB AUT MQ PESTO...
208297     PROMO  AUT MQ  SAUCES POUR FECULENTS POT AUT FAB AUT MQ PESTO...

[136 rows x 3 columns]

EAN13 : 3038354197500BP1
       STD/PROMO   MARQUE                                NIELSEN_DESCRIPTION
1211       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
2748       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
4285       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
5822       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
7359       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
...          ...      ...                                                ...
202565     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
204102     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
205639     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
207176     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
208713     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...

[136 rows x 3 columns]

EAN13 : 3038354197104BP1
       STD/PROMO   MARQUE                                NIELSEN_DESCRIPTION
1212       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
2749       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
4286       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
5823       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
7360       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
...          ...      ...                                                ...
202566     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
204103     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
205640     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
207177     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
208714     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...

[136 rows x 3 columns]

EAN13 : 3038359004605BP1
       STD/PROMO   MARQUE                                NIELSEN_DESCRIPTION
1213       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
2750       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
4287       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
5824       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
7361       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
...          ...      ...                                                ...
202567     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
204104     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
205641     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
207178     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
208715     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...

[136 rows x 3 columns]

EAN13 : 3038359004629BP1
       STD/PROMO   MARQUE                                NIELSEN_DESCRIPTION
1214       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
2751       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
4288       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
5825       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
7362       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
...          ...      ...                                                ...
202568     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
204105     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
205642     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
207179     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...
208716     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI BOLO CLASSIQU...

[136 rows x 3 columns]

EAN13 : 3038359007712BP1
       STD/PROMO   MARQUE                                NIELSEN_DESCRIPTION
1222       PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
2759       PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
4296       PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
5833       PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
7370       PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
...          ...      ...                                                ...
202576     PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
204113     PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
205650     PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
207187     PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
208724     PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...

[136 rows x 3 columns]

EAN13 : 3038359007699BP2
       STD/PROMO   MARQUE                                NIELSEN_DESCRIPTION
1223       PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
2760       PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
4297       PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
5834       PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
7371       PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
...          ...      ...                                                ...
202577     PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
204114     PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
205651     PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
207188     PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...
208725     PROMO  PANZANI  POT PANZANI SA PANZANI BOLO CLASSIQUE PF BOLOG...

[136 rows x 3 columns]

EAN13 : 3038359007699BP1
       STD/PROMO   MARQUE                                NIELSEN_DESCRIPTION
1288       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
2825       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
4362       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
5899       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
7436       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
...          ...      ...                                                ...
202642     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
204179     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
205716     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
207253     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
208790     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...

[136 rows x 3 columns]

EAN13 : 3038354197500BP2
       STD/PROMO   MARQUE                                NIELSEN_DESCRIPTION
1297       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
2834       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
4371       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
5908       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
7445       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
...          ...      ...                                                ...
202651     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
204188     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
205725     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
207262     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
208799     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...

[136 rows x 3 columns]

EAN13 : 3038359004629BP2
       STD/PROMO   MARQUE                                NIELSEN_DESCRIPTION
1298       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
2835       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
4372       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
5909       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
7446       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
...          ...      ...                                                ...
202652     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
204189     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
205726     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
207263     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
208800     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...

[136 rows x 3 columns]

EAN13 : 3038359007712BP2
       STD/PROMO   MARQUE                                NIELSEN_DESCRIPTION
1299       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
2836       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
4373       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
5910       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
7447       PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
...          ...      ...                                                ...
202653     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
204190     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
205727     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
207264     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...
208801     PROMO  PANZANI  POUR FECULENTS POT PANZANI SA PANZANI LEGUMES ...

[136 rows x 3 columns]

EAN13 : 3038354197104BP2
       STD/PROMO   MARQUE                                NIELSEN_DESCRIPTION
1303       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
2840       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
4377       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
5914       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
7451       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
...          ...      ...                                                ...
202657     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
204194     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
205731     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
207268     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
208805     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...

[136 rows x 3 columns]

EAN13 : 3038359004605BP2
       STD/PROMO   MARQUE                                NIELSEN_DESCRIPTION
1304       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
2841       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
4378       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
5915       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
7452       PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
...          ...      ...                                                ...
202658     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
204195     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
205732     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
207269     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...
208806     PROMO  PANZANI  FECULENTS POT PANZANI SA PANZANI LEGUMES PF TO...

[136 rows x 3 columns]

In [ ]:
# TOUS LES EAN13 A 16 CHIFFRES CORRESPONDENT A DES PROMOS 
# 136 occurences = 8 markets x 17 KPIs ('FACT')

In [42]:
#CREATION OF A COLUMN 'EAN13' WITH REAL 13 DIGIT EAN13 PRODUCT CODES (beaucoup de Panzani !lol!)
data['EAN13']=data['ITEM']
data.keys()

Index(['MARKET', 'FACTS', 'NIELSEN_DESCRIPTION', 'EMBALLAGE', 'MARQUE',
       'GAMME', 'FORMAT', 'RECETTES', 'COMPTE', 'STD/PROMO', 'ITEM',
       'CAM AN-1', 'DERNIER CAM', '4 S 28/01/18', '4 S 25/02/18',
       '4 S 25/03/18', '4 S 22/04/18', '4 S 20/05/18', '4 S 17/06/18',
       '4 S 15/07/18', '4 S 12/08/18', '4 S 09/09/18', '4 S 07/10/18',
       '4 S 04/11/18', '4 S 02/12/18', '4 S 30/12/18', '4 S 27/01/19',
       '4 S 24/02/19', '4 S 24/03/19', '4 S 21/04/19', '4 S 19/05/19',
       '4 S 16/06/19', '4 S 14/07/19', '4 S 11/08/19', '4 S 08/09/19',
       '4 S 06/10/19', '4 S 03/11/19', '4 S 01/12/19', '4 S 29/12/19',
       'EAN13'],
      dtype='object')

In [98]:
x='012345678901234567890'
y=x[0:13]
print(y)
print(len(y),' characters')

0123456789012
13  characters

In [45]:
# transformation des EAN13 TROP LONG EN 13 CHIFFRES (suppression des 3 chiffres en trop)

for i in range(0,data.shape[0]):
    if data.iloc[i,10] in pb:
       data.iloc[i,-1]=data.iloc[i,10][0:13] #selection of 13 first caracters
    if data.iloc[i,10] in pb_length:
       data.iloc[i,-1]=data.iloc[i,10][0:13] #selection of 13 first caracters

In [46]:
#création nouvelle liste des EAN13 (ancienne N_EAN13)
EAN13=data['EAN13'].unique()
print(type(EAN13))
print(EAN13[:20])
print(EAN13[-20:])

EAN13=EAN13[1:]#.flatten() ?

#vérification que tous les EAN113 ont bien 13 charactères et ne contiennent que des chiffres
pb_length=[]
for i in EAN13:
    if len(i)!=13:
        pb_length.append(i)
        print(' length:',len(i),':',i)
        #pb_index.append(N_EAN13.index(i))
        #print('index:',N_EAN13.index(i),' length:',len(i),':',i)
print('\n',len(pb_length),' EAN13 codes are not 13 character long')

#vérification que tous les EAN13 ne contienne que des chiffres
pb=[]
for i in EAN13:
    if i.isdecimal()==False:
        pb.append(i)
        print(' length:',len(i),':',i)
print('\n',len(pb),' EAN13 codes are not numeric values (problem)')

<class 'numpy.ndarray'>
[nan '3760052155536' '8854404005213' '8858135071028' '3760052155512'
 '3416952625159' '3416360008261' '3302762103218' '3302762203246'
 '3302762203208' '3302762103133' '3302762213382' '3302762203222'
 '9325763000083' '3760052155505' '3760070015331' '3302767151122'
 '3302767151139' '3760070014556' '3760070014549']
['3337730908380' '8001440129353' '3760020508937' '3456300009064'
 '3069539003019' '0000080042549' '3038359008481' '3038359005640'
 '3038359000782' '3038359002113' '3038352871303' '3038359002335'
 '3038359004544' '3038359008603' '3038359004551' '3038359002823'
 '3038359008498' '3038359005657' '3038359001413' '3021690021851']

 0  EAN13 codes are not 13 character long

 0  EAN13 codes are not numeric values (problem)

In [48]:
type(EAN13[0])

str

In [104]:
%ls

 Le volume dans le lecteur C s'appelle Acer
 Le num‚ro de s‚rie du volume est 0694-CC4A

 R‚pertoire de C:\Users\baudant\OneDrive - BEFIVE\italians_do_it_better\N_NIELSEN

03/09/2020  00:55    <DIR>          .
03/09/2020  00:55    <DIR>          ..
02/09/2020  17:36    <DIR>          .ipynb_checkpoints
02/09/2020  18:11        39ÿ615ÿ344 Data_Nielsen_ALL.xlsx
02/09/2020  23:38                 0 N_EAN13.csv
03/09/2020  00:55            61ÿ236 N_preprocessing.ipynb
               3 fichier(s)       39ÿ676ÿ580 octets
               3 R‚p(s)  97ÿ836ÿ150ÿ784 octets libres

In [49]:
print(type(EAN13))
print(type(EAN13[1]))
print(EAN13)
EAN13

<class 'numpy.ndarray'>
<class 'str'>
['3760052155536' '8854404005213' '8858135071028' ... '3038359005657'
 '3038359001413' '3021690021851']

array(['3760052155536', '8854404005213', '8858135071028', ...,
       '3038359005657', '3038359001413', '3021690021851'], dtype=object)

In [116]:
#sauvegarde des valeurs unique des EAN13 dans un fichier csv (string)
np.savetxt('N_EAN13.csv',EAN13,fmt='%s')

In [123]:
#création d'une liste d'EAN13 en valeur numérique 
EAN13_num=EAN13.astype(np.int64)
print(EAN13_num)

[3760052155536 8854404005213 8858135071028 ... 3038359005657 3038359001413
 3021690021851]

In [124]:
#sauvegarde des valeurs unique des EAN13 (en valeur numérique) dans un fichier csv
np.savetxt('N_EAN13_num.csv',EAN13_num)
#pd.DataFrame(np_array).to_csv("path/to/file.csv")

In [34]:
data.to_csv('N_ALL_data_preprocessed.csv')

In [24]:
%ls

 Le volume dans le lecteur C s'appelle Acer
 Le num‚ro de s‚rie du volume est 0694-CC4A

 R‚pertoire de C:\Users\baudant\OneDrive - BEFIVE\italians_do_it_better\N_NIELSEN

03/09/2020  09:28    <DIR>          .
03/09/2020  09:28    <DIR>          ..
02/09/2020  17:36    <DIR>          .ipynb_checkpoints
02/09/2020  18:11        39ÿ615ÿ344 Data_Nielsen_ALL.xlsx
03/09/2020  09:24        68ÿ821ÿ477 N_ALL_data.csv
03/09/2020  09:26        68ÿ821ÿ477 N_ALL_data_preprocessed.csv
03/09/2020  01:02            21ÿ375 N_EAN13.csv
03/09/2020  01:02            21ÿ375 N_EAN13.txt
03/09/2020  01:07            37ÿ050 N_EAN13_num.csv
03/09/2020  09:28            72ÿ671 N_preprocessing.ipynb
               7 fichier(s)      177ÿ410ÿ769 octets
               3 R‚p(s)  97ÿ463ÿ562ÿ240 octets libres

In [ ]:
###################################################################
#     PROCESSING PRODUCT DATA (Market, categorie, Bio, wieght)    #
###################################################################

In [61]:
%ls
data=pd.read_csv('N_ALL_data_preprocessed.csv',index_col=0)
EAN13=np.loadtxt('N_EAN13.csv',dtype=str)
EAN13_num=np.loadtxt('N_EAN13_num.csv',dtype=np.int64)
#EAN13=pd.read_csv('N_EAN13.csv',dtype='str')
#EAN13_num=pd.read_csv('N_EAN13_num.csv',dtype='int64')

 Le volume dans le lecteur C s'appelle Acer
 Le num‚ro de s‚rie du volume est 0694-CC4A

 R‚pertoire de C:\Users\baudant\OneDrive - BEFIVE\italians_do_it_better\N_NIELSEN

03/09/2020  09:56    <DIR>          .
03/09/2020  09:56    <DIR>          ..
02/09/2020  17:36    <DIR>          .ipynb_checkpoints
02/09/2020  18:11        39ÿ615ÿ344 Data_Nielsen_ALL.xlsx
03/09/2020  09:32        69ÿ041ÿ392 N_ALL_data_preprocessed.csv
03/09/2020  01:02            21ÿ375 N_EAN13.csv
03/09/2020  01:02            21ÿ375 N_EAN13.txt
03/09/2020  01:07            37ÿ050 N_EAN13_num.csv
03/09/2020  09:56            65ÿ454 N_preprocessing.ipynb
               6 fichier(s)      108ÿ801ÿ990 octets
               3 R‚p(s)  97ÿ434ÿ427ÿ392 octets libres

ValueError: invalid literal for int() with base 10: '3.760052155536000000e+12'

In [62]:
keys=pd.DataFrame(data.keys())
print(keys)
data.head()

                      0
0                MARKET
1                 FACTS
2   NIELSEN_DESCRIPTION
3             EMBALLAGE
4                MARQUE
5                 GAMME
6                FORMAT
7              RECETTES
8                COMPTE
9             STD/PROMO
10                 ITEM
11             CAM AN-1
12          DERNIER CAM
13         4 S 28/01/18
14         4 S 25/02/18
15         4 S 25/03/18
16         4 S 22/04/18
17         4 S 20/05/18
18         4 S 17/06/18
19         4 S 15/07/18
20         4 S 12/08/18
21         4 S 09/09/18
22         4 S 07/10/18
23         4 S 04/11/18
24         4 S 02/12/18
25         4 S 30/12/18
26         4 S 27/01/19
27         4 S 24/02/19
28         4 S 24/03/19
29         4 S 21/04/19
30         4 S 19/05/19
31         4 S 16/06/19
32         4 S 14/07/19
33         4 S 11/08/19
34         4 S 08/09/19
35         4 S 06/10/19
36         4 S 03/11/19
37         4 S 01/12/19
38         4 S 29/12/19
39                EAN13

,MARKET,FACTS,NIELSEN_DESCRIPTION,EMBALLAGE,MARQUE,GAMME,FORMAT,RECETTES,COMPTE,STD/PROMO,...,4 S 19/05/19,4 S 16/06/19,4 S 14/07/19,4 S 11/08/19,4 S 08/09/19,4 S 06/10/19,4 S 03/11/19,4 S 01/12/19,4 S 29/12/19,EAN13
0,HMSM + PROXI + DRIVE + SDMP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Ventes Volume,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,AUT SCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44605.2,42718.4,48412.6,34205.7,42914.3,40980.1,42130.6,56423.4,40516.4,NaN
3,NaN,NaN,AUT SCE AUT EMB,AUT EMB,NaN,NaN,NaN,NaN,NaN,NaN,...,59.7,48.6,49.6,60.6,65.7,83.8,183.4,321.5,259.5,NaN
4,NaN,NaN,AUT SCE AUT EMB AUT MQ,AUT EMB,AUT MQ,NaN,NaN,NaN,NaN,NaN,...,59.7,48.6,49.6,60.6,65.7,83.8,183.4,321.5,259.5,NaN

In [81]:
#FILL IN MARKET ON ALL LINES
print(np.nan)
market='HMSM + PROXI + DRIVE + SDMP'
for i in range(0,3):#data.shape[0]):
    print(data.iloc[i,0]==np.nan)
    #print(data.iloc[i,0].isnull()==True)
    if data.iloc[i,0]==np.nan:
        data.iloc[i,0]=market
    else:
        market=data.iloc[i,0]
data.head()

nan
False
False
False

,MARKET,FACTS,NIELSEN_DESCRIPTION,EMBALLAGE,MARQUE,GAMME,FORMAT,RECETTES,COMPTE,STD/PROMO,...,4 S 19/05/19,4 S 16/06/19,4 S 14/07/19,4 S 11/08/19,4 S 08/09/19,4 S 06/10/19,4 S 03/11/19,4 S 01/12/19,4 S 29/12/19,EAN13
0,HMSM + PROXI + DRIVE + SDMP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Ventes Volume,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,AUT SCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44605.2,42718.4,48412.6,34205.7,42914.3,40980.1,42130.6,56423.4,40516.4,NaN
3,NaN,NaN,AUT SCE AUT EMB,AUT EMB,NaN,NaN,NaN,NaN,NaN,NaN,...,59.7,48.6,49.6,60.6,65.7,83.8,183.4,321.5,259.5,NaN
4,NaN,NaN,AUT SCE AUT EMB AUT MQ,AUT EMB,AUT MQ,NaN,NaN,NaN,NaN,NaN,...,59.7,48.6,49.6,60.6,65.7,83.8,183.4,321.5,259.5,NaN

In [ ]:
###############################################################
#     EXTRACTION OF DATAFRAME OF UNIQUE PRODUCTS FROM DATA    #
###############################################################

In [ ]:
#################################################################
#     EXTRACTION OF DATAFRAME FOR FRANCE (FEATURE REDUCTION)    #
#################################################################

In [64]:
FRANCE=data[data['MARKET']=='HMSM + PROXI + DRIVE + SDMP']
print('FRANCE size:',FRANCE.shape)
FRANCE.head()

FRANCE size: (1, 40)

,MARKET,FACTS,NIELSEN_DESCRIPTION,EMBALLAGE,MARQUE,GAMME,FORMAT,RECETTES,COMPTE,STD/PROMO,...,4 S 19/05/19,4 S 16/06/19,4 S 14/07/19,4 S 11/08/19,4 S 08/09/19,4 S 06/10/19,4 S 03/11/19,4 S 01/12/19,4 S 29/12/19,EAN13
0,HMSM + PROXI + DRIVE + SDMP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN